<template>
  <div class="modal" v-if="show">
    <div class="modal-background" @click.stop="close"></div>
    <div class="modal-content">
      <div v-if="loading" class="overlay">
        <i class="material-icons loader">cached</i>
      </div>
      <div>
        <div class="alert-header">
          <p class="alert-header-title">
            {{ editMode ? "Editar Competição" : "Adicionar Competição" }}
          </p>
        </div>
        <div class="alert-content">
          <input-component type="text" :text="name_competitions" placeholder="Nome*" v-model="name_competitions"
            :value="name_competitions" @input="name_competitions = $event?.target?.value" ref="name_competitionsInput"
            :required="true" />
          <input-component type="date" :text="dta_competitions" placeholder="Data*" v-model="dta_competitions"
            @input="dta_competitions = $event?.target?.value" ref="dta_competitionsInput" :required="true" />
          <input-component type="text" :text="location_competetions" placeholder="Localização*"
            v-model="location_competetions" :value="location_competetions"
            @input="location_competetions = $event?.target?.value" ref="location_competetionsInput" :required="true" />
          <required-inputs />
        </div>
        <div class="alert-footer">
          <button class="button" @click="close">Cancelar</button>
          <button class="button is-primary" @click="submit">
            {{ editMode ? "Atualizar" : "Salvar" }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <toast ref="toast" />
</template>

<script>
import InputComponent from "@/components/inputs/InputComponent.vue";
import "@/assets/main.css";
import RequiredInputs from "@/components/inputs/RequiredInputs.vue";
import AlertMessage from "@/components/alerts/AlertMessage.vue";
import { getLocalStorageItem } from "@/middleware/localStorage";
import axios from "axios";
import config from "@/config.js";
import Toast from "@/components/Toast.vue";

export default {
  props: {
    show: {
      type: Boolean,
      default: false,
    },
    selectedCompetition: {
      type: Object,
      default: null,
    },
    class: {
      type: Object,
      default: null,
    },
    editMode: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      loading: false,
      showModal: false,
      selectedIntegral: null,
      location_competetions: "",
      name_competitions: "",
      dta_competitions: "",
      handleCompetitionSaved: null,
    };
  },
  components: {
    InputComponent,
    RequiredInputs,
    AlertMessage,
    Toast,
  },
  computed: {
    blankFields() { },
  },
  methods: {
    showIntegral() {
      this.$emit("update:editMode", true);
      this.showModal = true;
      this.selectedIntegral = null;
    },
    resetForm() { },
    updateCompetition() {
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };
      const Body = {
        name_competitions: this.name_competitions,
        dta_competitions: this.dta_competitions,
        location_competetions: this.location_competetions,
      };
      this.loading = true;
      axios
        .patch(
          `${config.VUE_APP_API_URL}/competition/${this.selectedCompetition.id_competition}`,
          Body,
          Headers
        )
        .then((response) => {
          this.$refs.toast.showToast(
            "Competição editada com sucesso!",
            "success"
          );
          this.close();
          this.$emit("competition-saved", true);
        })
        .catch((error) => {
          this.$refs.toast.showToast("Erro ao editar competição!", "error");
        })
        .finally(() => {
          this.loading = false;
        });
    },
    createCompetition() {
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };
      const Body = {
        name_competitions: this.name_competitions,
        dta_competitions: this.dta_competitions,
        location_competetions: this.location_competetions,
      };
      this.loading = true;
      axios
        .post(`${config.VUE_APP_API_URL}/competition/`, Body, Headers)
        .then((response) => {
          this.$refs.toast.showToast(
            "Competição criada com sucesso!",
            "success"
          );
          this.close();
          this.$emit("competition-saved", true);
        })
        .catch((error) => {
          this.$refs.toast.showToast("Erro ao criar competição!", "error");
        })
        .finally(() => {
          this.loading = false; // Esconde o loader
        });
    },
    submit() {
      if (!this.blankFields) {
        this.loading = true;

        // Requisicao para cadastrar competição ou atualizar
        if (this.editMode) {
          this.updateCompetition();
        } else {
          this.createCompetition();
        }
      } else {
        this.emptyFields = true;
        setTimeout(() => {
          this.emptyFields = false;
        }, 5000);
      }
    },
    close() {
      this.$emit("update:show", false);
    },
  },
  watch: {
    show(newVal) {
      if (newVal) {
        if (this.editMode && this.selectedCompetition) {
          (this.location_competetions =
            this.selectedCompetition.location_competetions || ""),
            (this.name_competitions =
              this.selectedCompetition.name_competitions || ""),
            (this.dta_competitions = this.selectedCompetition.dta_competitions
              ? new Date(this.selectedCompetition.dta_competitions)
                .toISOString()
                .split("T")[0]
              : "");
        } else {
          this.location_competetions = "";
          this.name_competitions = "";
          this.dta_competitions = "";
        }
      }
    },
  },
};
</script>

<style>
.add-integral {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0px 0;
}

@media only screen and (max-width: 1010px) {
  .modal-content {
    width: 85%;
    height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .mobile {
    width: 90%;
    margin-left: 7%;
  }
}

@media only screen and (max-width: 1025px) {
  .modal-content {
    width: 85%;
    height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
</style>
