<template>
  <div class="modal" v-if="show">
    <div class="modal-background" @click.stop="close"></div>
    <div class="modal-content">
      <div v-if="loading" class="overlay">
        <i class="material-icons loader">cached</i>
      </div>
      <div>
        <div class="alert-header">
          <p class="alert-header-title">
            {{ editMode ? "Editar aula" : "Adicionar aula" }}
          </p>
        </div>
        <div class="alert-content">
          <input-component
            type="text"
            :text="description"
            placeholder="Nome da Aula*"
            v-model="description"
            :value="description"
            @input="description = $event?.target?.value"
            ref="descriptionInput"
            :required="true"
          />
          <input-component
            type="number"
            :text="amount_class"
            placeholder="Valor*"
            v-model="amount_class"
            :value="amount_class"
            @input="amount_class = $event?.target?.value"
            ref="amountInput"
            min="0"
          />
          <RequiredInputs />
        </div>
        <div class="alert-footer">
          <button class="button" @click="close">Cancelar</button>
          <button class="button is-primary" @click="submit">
            {{ editMode ? "Atualizar" : "Salvar" }}
          </button>
        </div>
      </div>
      <AlertMessage :showCondition="showError.state" :text="showError.text" />
    </div>
  </div>
</template>
<script>
import InputComponent from "@/components/inputs/InputComponent.vue";
import "@/assets/main.css";
import axios from "axios";
import { getLocalStorageItem } from "@/middleware/localStorage";
import { moneyToFloat } from "@/utils/String_Formatter";
import RequiredInputs from "@/components/inputs/RequiredInputs.vue";
import AlertMessage from "@/components/alerts/AlertMessage.vue";
import config from "@/config.js";

export default {
  data() {
    return {
      description: "",
      amount_class: "",
      editedClass: null,
      emptyFields: false,
      saveError: false,
      showError: {
        state: false,
        text: "",
      },
      loading: false,
    };
  },
  props: {
    show: {
      type: Boolean,
      default: false,
    },
    selectedClass: {
      type: Object,
      default: null,
    },
    editMode: {
      type: Boolean,
      default: false,
    },
    class: {
      type: Object,
      default: null,
    },
  },
  components: {
    InputComponent,
    RequiredInputs,
    AlertMessage,
  },
  computed: {
    blankFields() {
      if (
        this.description.trim() === "" ||
        this.amount_class.toString().trim() === ""
      ) {
        return true;
      }
      return false;
    },
  },
  watch: {
    show(newVal) {
      if (newVal) {
        if (this.editMode && this.selectedClass) {
          console.log(this.selectedClass);
          this.description = this.selectedClass.description_class || "";
          this.amount_class =
            moneyToFloat(this.selectedClass.amount_class) || "";
        } else {
          this.description = "";
          this.amount_class = "";
        }
      }
    },
  },
  methods: {
    resetForm() {
      this.amount_class = "";
      this.description = "";
      this.editMode = false;
      this.editedClass = null;
    },
    updateClass() {
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };
      const Body = {
        description_class: this.description,
        amount_class: this.amount_class,
      };
      this.loading = true;
      //pegar valor da prop
      axios
        .patch(
          `${config.VUE_APP_API_URL}/class/${this.selectedClass.code_class}`,
          Body,
          {
            headers: {
              Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
            },
          }
        )
        .then((response) => {
          this.close();
          this.$emit("class-saved", true);
        })
        .catch((error) => {
          this.showError.state = true;
          this.showError.text = "Erro ao editar a aula";
          setTimeout(() => {
            this.showError.state = false;
          }, 5000);
        })
        .finally(() => {
          this.loading = false; // Esconde o loader
        });
    },
    createClass() {
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };
      const Body = {
        description_class: this.description,
        amount_class: this.amount_class,
      };
      this.loading = true;
      axios
        .post(`${config.VUE_APP_API_URL}/class/`, Body, Headers)
        .then((response) => {
          this.close();
          this.$emit("class-saved", true);
        })
        .catch((error) => {
          this.showError.state = true;
          this.showError.text = "Erro ao cadastrar a aula";

          setTimeout(() => {
            this.showError.state = false;
          }, 5000);
        })
        .finally(() => {
          this.loading = false; // Esconde o loader
        });
    },
    submit() {
      if (!this.blankFields) {
        // Requisicao para cadastrar class ou atualizar
        if (this.editMode) {
          this.updateClass();
        } else {
          this.createClass();
        }
      } else {
        this.showError.state = true;
        this.showError.text = "Preencha todos os campos";
        setTimeout(() => {
          this.showError.state = false;
        }, 5000);
      }
    },
    close() {
      this.$emit("update:show", false);
    },
  },
};
</script>
