<template>
  <div class="modal" v-if="show">
    <div class="modal-background" @click.stop="close"></div>
    <div class="modal-content">
      <div v-if="loading" class="overlay">
        <i class="material-icons loader">cached</i>
      </div>
      <div>
        <div class="alert-header">
          <p class="alert-header-title">
            {{ this.editMode ? "Editar Participante" : "Adicionar Integrante" }}
          </p>
        </div>
        <div class="alert-content">
          <label for="id_label_single">
            <select
              class="label-input label-category mobile js-example-basic-single js-states form-control"
              id="id_label_single"
              v-model="selectedIntegral"
              :required="true"
            >
              <option value="" disabled>Selecione um aluno</option>
              <option v-for="aluno in alunos" :value="aluno">
                {{ aluno.name_user }}
              </option>
            </select>

            <input-component
              type="text"
              :text="position_student"
              placeholder="Colocação do Estudante: (Ex: 3)*"
              v-model="position_student"
              :value="position_student"
              @input="position_student = $event?.target?.value"
              ref="position_studentInput"
              :required="true"
            />
            <input-component
              type="text"
              :text="modality"
              placeholder="Modalidade do Estudante: (Ex: Dupla de fitas)*"
              v-model="modality"
              :value="modality"
              @input="modality = $event?.target?.value"
              ref="modalityInput"
              :required="true"
            />
          </label>
        </div>
        <div class="alert-footer">
          <button class="button" @click="close">Cancelar</button>
          <button class="button is-primary" @click="submit">Salvar</button>
        </div>
        <alert-message
          :showCondition="saveError"
          text="Erro ao cadastrar a movimentação"
        />
        <alert-message
          :showCondition="emptyFields"
          text="Preencha todos os campos"
        />
      </div>
    </div>
  </div>
  <toast ref="toast" />
</template>

<script>
import InputComponent from "@/components/inputs/InputComponent.vue";
import "@/assets/main.css";
import axios from "axios";
import { getLocalStorageItem } from "@/middleware/localStorage";
import AlertMessage from "@/components/alerts/AlertMessage.vue";
import config from "@/config.js";
import Toast from "@/components/Toast.vue";

export default {
  props: {
    show: {
      type: Boolean,
      default: false,
    },
    selectedCompetition: {
      type: Object,
      default: null,
    },
    selectedStudent: {
      type: Object,
      default: null,
    },
    editMode: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      saveError: false,
      emptyFields: false,
      loading: false,
      alunos: [],
      position_student: "",
      modality: "",
      selectedIntegral: null,
    };
  },
  components: {
    InputComponent,
    AlertMessage,
    Toast,
  },
  computed: {
    blankFields() {},
  },
  watch: {
    selectedIntegral: {},
  },
  methods: {
    resetForm() {},

    updateIntegral() {
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };
      const Body = {
        position_student: this.position_student,
        modality: this.modality,
      };
      this.loading = true;
      axios
        .patch(
          `${config.VUE_APP_API_URL}/competition/${this.selectedCompetition.id_competition}/participant/${this.selectedIntegral.id_user}`,
          Body,
          Headers
        )
        .then((response) => {
          this.$refs.toast.showToast(
            "Participante editado com sucesso!",
            "success"
          );
          this.close();
          this.$emit("class-saved", true);
        })
        .catch((error) => {
          this.$refs.toast.showToast("Erro ao editar participante!", "error");
          this.saveError = true;
          setTimeout(() => {
            this.saveError = false;
          }, 5000);
        })
        .finally(() => {
          this.loading = false;
        });
    },

    createIntegral() {
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };

      const Body = {
        position_student: this.position_student,
        modality: this.modality,
      };
      this.loading = true;
      axios
        .post(
          `${config.VUE_APP_API_URL}/competition/${this.selectedCompetition.id_competition}/participant/${this.selectedIntegral.id_user}`,
          Body,
          Headers
        )
        .then((response) => {
          this.$refs.toast.showToast(
            "Participante criado com sucesso!",
            "success"
          );
          this.close();
          this.$emit("competition-saved", true);
        })
        .catch((error) => {
          this.$refs.toast.showToast("Erro ao criar participante!", "error");
          this.showError.state = true;
          this.showError.text = "Erro ao cadastrar Participante";

          setTimeout(() => {
            this.showError.state = false;
          }, 5000);
        })
        .finally(() => {
          this.loading = false;
        });
    },

    getAllStudents() {
      if (this.editMode) {
        this.alunos.push(this.selectedStudent);
      } else {
        const Headers = {
          headers: {
            Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
          },
        };
        this.loading = true;
        axios
          .get(`${config.VUE_APP_API_URL}/competition/students/0`, Headers)
          .then((response) => {
            this.alunos = response.data.model;
          })
          .catch((error) => {
            console.log(error);
          })
          .finally(() => {
            this.loading = false;
          });
      }
    },
    submit() {
      if (!this.blankFields) {
        if (this.editMode) {
          this.updateIntegral();
        } else {
          this.createIntegral();
        }
      } else {
        this.emptyFields = true;
        setTimeout(() => {
          this.emptyFields = false;
        }, 5000);
      }
    },
    close() {
      this.alunos = [];
      this.$emit("update:show", false);
      this.$emit("modal-closed");
    },
  },
  watch: {
    show(newVal) {
      if (newVal) {
        this.getAllStudents();
      }
    },
  },
};
</script>

<style>
@media only screen and (max-width: 1010px) {
  .modal-content {
    width: 85%;
    height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .mobile {
    width: 90%;
    margin-left: 7%;
  }
}

@media only screen and (max-width: 1025px) {
  .modal-content {
    width: 85%;
    height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
</style>
