<template>
    <div class="modal" v-if="show">
        <div class="modal-background" @click.stop="close"></div>
        <div class="modal-content">
            <div v-if="loading" class="overlay">
                <i class="material-icons loader">cached</i>
            </div>
            <div>
                <div class="alert-header">
                    <p class="alert-header-title">{{ editMode ? 'Editar movimentação' : 'Adicionar movimentação' }}</p>
                </div>
                <div class="alert-content">
                    <input-component type="text" :text="description" placeholder="Descrição*" v-model="description"
                        :value="description" @input="description = $event?.target?.value" ref="descriptionInput"
                        :required="true" />
                    <input-component type="number" :text="ammount" placeholder="Valor*" v-model="ammount" :value="ammount"
                        @input="ammount = $event?.target?.value" ref="ammountInput" :required="true" />
                    <input-component type="date" :text="date" placeholder="Data*" v-model="date"
                        @input="date = $event?.target?.value" ref="dateInput" :required="true" />
                    <select v-if="!this.editMode" :value="category" class="label-input label-category mobile"
                        v-model="category">
                        <option disabled value="">Categoria</option>
                        <option>Educação</option>
                        <option>Material de Ginástica</option>
                        <option>Conta</option>
                        <option>Mensalidade</option>
                    </select>
                    <select :value="financialMovement" v-if="!this.editMode" class="label-input label-category mobile"
                        v-model="financialMovement">
                        <option disabled value="">Movimentação Financeira</option>
                        <option>Ganho</option>
                        <option>Gasto</option>
                    </select>
                    <required-inputs />
                </div>
                <div class="alert-footer">
                    <button class="button" @click="close">Cancelar</button>
                    <button class="button is-primary" @click="submit">{{ editMode ? 'Atualizar' : 'Salvar' }}</button>
                </div>
                <alert-message :showCondition="saveError" text="Erro ao cadastrar a movimentação" />
                <alert-message :showCondition="emptyFields" text="Preencha todos os campos" />
            </div>
        </div>
    </div>
</template>
  
<script>
import InputComponent from '@/components/inputs/InputComponent.vue';
import '@/assets/main.css';
import { getLocalStorageItem } from "@/middleware/localStorage"
import { moneyToFloat, stringToInputDate } from "@/utils/String_Formatter"
import RequiredInputs from '@/components/inputs/RequiredInputs.vue';
import AlertMessage from '@/components/alerts/AlertMessage.vue';
import axios from 'axios';
import config from '@/config.js';

export default {
    props: {
        show: {
            type: Boolean,
            default: false,
        },
        selectedMovement: {
            type: Object,
            default: null,
        },
        // editMode: {
        //     type: Boolean,
        //     default: false,
        // },
        class: {
            type: Object,
            default: null,
        },
        valuesEditedMovement: {
            type: Object,
            default: null,
        }
    },
    data() {
        return {
            description: '',
            ammount: '',
            date: '',
            category: '',
            financialMovement: '',
            saveError: false,
            emptyFields: false,
            editedMovement: null,
            editMode: false,
            loading: false,
        };
    },
    components: {
        InputComponent,
        RequiredInputs,
        AlertMessage
    },
    computed: {
        blankFields() {
            return (
                this.description.trim() === '' &&
                this.ammount.trim() === '' &&
                this.date.trim() === '' &&
                this.category.trim() === '' &&
                this.financialMovement.trim() === ''
            );
        }
    },
    watch: {
        selectedMovement: {
            immediate: true,
            handler(value) {
                if (value) {
                    this.editMode = true;
                    this.description = value.description_movement;
                    this.ammount = moneyToFloat(value.ammount_movement);
                    this.date = stringToInputDate(value.dta_movement);
                    this.category = value.category_movement;
                    this.editedMovement = { ...value };
                } else {
                    this.resetForm();
                }
            },
        },
    },
    methods: {
        resetForm() {
            this.description = '';
            this.ammount = '';
            this.date = '';
            this.category = '';
            this.financialMovement = '';
            this.editMode = false;
            this.editedMovement = null;
        },
        updateMovement() {
            const Headers = { "headers": { 'Authorization': `Bearer ${getLocalStorageItem("jwt_token")}` } }
            const Body = {
                "date_movement": this.date,
                "description_movement": this.description,
                "ammount_movement": parseFloat(this.ammount)
            }
            axios.patch(`${config.VUE_APP_API_URL}/financial/movement/${this.valuesEditedMovement.id_movement}`, Body, Headers)
                .then(response => {
                    this.close();
                    this.$emit('movement-saved', true);
                })
                .catch(error => {
                    this.saveError = true;
                    setTimeout(() => {
                        this.saveError = false;
                    }, 5000);
                })
                .finally(() => {
                    this.loading = false; // Esconde o loader
                });
        },
        createMovement() {
            const Headers = { "headers": { 'Authorization': `Bearer ${getLocalStorageItem("jwt_token")}` } }
            let flg_gasto = true;
            if (this.financialMovement == "Ganho") {
                flg_gasto = false;
            }
            const Body = {
                "dta_movement": this.date,
                "description_movement": this.description,
                "ammount_movement": parseFloat(this.ammount),
                "category_movement": this.category,
                "id_students_monthly_payments": "",
                "id_competition": "",
                "flg_gasto": flg_gasto
            }
            this.loading = true
            axios.post(`${config.VUE_APP_API_URL}/financial/movement`, Body, Headers)
                .then(response => {
                    this.close();
                    this.$emit('movement-saved', true);
                })
                .catch(error => {
                    this.saveError = true;
                    setTimeout(() => {
                        this.saveError = false;
                    }, 5000);
                })
                .finally(() => {
                    this.loading = false; // Esconde o loader
                });
        },
        submit() {
            if (!this.blankFields) {
                this.loading = true;

                // Requisicao para cadastrar class ou atualizar
                if (this.editMode) {
                    this.updateMovement();
                } else {
                    this.createMovement();
                }
            } else {
                this.emptyFields = true;
                setTimeout(() => {
                    this.emptyFields = false;
                }, 5000);
            }
        },
        close() {
            this.$emit('update:show', false);
        },
    },
};
</script>

<style>
@media only screen and (max-width: 1010px) {
    .modal-content {
        width: 85%;
        height: 85%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .mobile {
        width: 90%;
        margin-left: 7%;
    }
}

@media only screen and (max-width: 1025px) {
    .modal-content {
        width: 85%;
        height: 85%;
        overflow-y: scroll;
        overflow-x: hidden;
    }


}
</style>
  