<template>
  <div v-if="loading" class="overlay">
    <i class="material-icons loader">cached</i>
  </div>
  <div class="modal" v-if="show">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div v-if="loading" class="overlay">
        <i class="material-icons loader">cached</i>
      </div>
      <div>
        <div class="alert-header">
          <p class="alert-header-title">
            {{ editMode ? "Editar Lembrete" : "Adicionar Lembrete" }}
          </p>
        </div>
        <div class="alert-content">
          <input-component
            type="text"
            :text="message_reminder"
            placeholder="Descrição do lembrete*"
            v-model="message_reminder"
            :value="message_reminder"
            @input="message_reminder = $event?.target?.value"
            ref="message_reminderInput"
            :required="true"
          />
          <input-component
            type="date"
            :text="initial_date_reminder"
            placeholder="Data inicial Lembrete"
            v-model="initial_date_reminder"
            :value="initial_date_reminder"
            @input="initial_date_reminder = $event?.target?.value"
            ref="initial_date_reminderInput"
          />
          <input-component
            type="date"
            :text="final_date_reminder"
            placeholder="Data final Lembrete"
            v-model="final_date_reminder"
            :value="final_date_reminder"
            @input="final_date_reminder = $event?.target?.value"
            ref="final_date_reminderInput"
          />
          <p>Selecione uma aula</p>
          <select
            class="label-input label-category mobile js-example-basic-single js-states form-control"
            id="id_label_single"
            v-model="selectedClass"
          >
            <option :value="null">Todos os alunos</option>
            <option v-for="aula in classes" :value="aula">
              {{ aula.description_class }}
            </option>
          </select>

          <RequiredInputs />
        </div>
        <div class="alert-footer">
          <button class="button" @click="close">Cancelar</button>
          <button class="button is-primary" @click="submit">
            {{ editMode ? "Atualizar" : "Salvar" }}
          </button>
        </div>
      </div>
      <AlertMessage :showCondition="showError.state" :text="showError.text" />
    </div>
  </div>
  <toast ref="toast" />
</template>
<script>
import InputComponent from "@/components/inputs/InputComponent.vue";
import "@/assets/main.css";
import axios from "axios";
import Toast from "@/components/Toast.vue";
import { getLocalStorageItem } from "@/middleware/localStorage";
import RequiredInputs from "@/components/inputs/RequiredInputs.vue";
import AlertMessage from "@/components/alerts/AlertMessage.vue";
import config from "@/config.js";

export default {
  data() {
    return {
      classes: [],
      selectedClass: null,
      message_reminder: "",
      initial_date_reminder: "",
      final_date_reminder: "",
      showError: {
        state: false,
        text: "",
      },
      loading: "",
    };
  },
  watch: {
    selectedClass: {},
  },
  props: {
    show: {
      type: Boolean,
      default: false,
    },
    selectedReminder: {
      type: Object,
      default: null,
    },
    editMode: {
      type: Boolean,
      default: false,
    },
    valuesEditedReminder: {
      type: Object,
      default: null,
    },
  },
  components: {
    InputComponent,
    RequiredInputs,
    AlertMessage,
    Toast,
  },
  methods: {
    blankFields() {
      if (this.message_reminder.trim() === "") {
        return true;
      }
      return false;
    },
    getAllClass() {
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };
      axios
        .get(`${config.VUE_APP_API_URL}/class/all`, Headers)
        .then((response) => {
          this.classes = response.data.model;
        })
        .catch((error) => {
          this.$refs.toast.showToast("Erro ao buscar aulas!", "error");
        });
    },
    close() {
      this.classes = [];
      this.selectedClass = null;
      this.$emit("update:show", false);
      this.$emit("modal-closed");
    },
    createReminder() {
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };

      const Body = {
        message_reminder: this.message_reminder,
        initial_date_reminder:
          this.initial_date_reminder !== "" ? this.initial_date_reminder : null,
        final_date_reminder:
          this.final_date_reminder !== "" ? this.final_date_reminder : null,
        code_class: this.selectedClass?.code_class ?? null,
      };
      this.loading = true;
      axios
        .post(`${config.VUE_APP_API_URL}/reminder/create`, Body, Headers)
        .then((response) => {
          this.close();
          this.$emit("reminder-saved", true);
        })
        .catch((error) => {
          this.$refs.toast.showToast("Erro ao criar Lembrete!", "error");
        })
        .finally(() => {
          (this.classes = []),
            (this.selectedClass = null),
            (this.message_reminder = ""),
            (this.initial_date_reminder = ""),
            (this.final_date_reminder = ""),
            (this.loading = false);
        });
    },

    updateReminder() {
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };
      const Body = {
        message_reminder: this.message_reminder,
        initial_date_reminder:
          this.initial_date_reminder !== "" ? this.initial_date_reminder : null,
        final_date_reminder:
          this.final_date_reminder !== "" ? this.final_date_reminder : null,
        code_class: this.selectedClass?.code_class ?? null,
      };
      this.loading = true;
      axios
        .patch(
          `${config.VUE_APP_API_URL}/reminder/${this.selectedReminder.id_reminder}}`,
          Body,
          Headers
        )
        .then((response) => {
          this.close();
          this.$emit("reminder-saved", true);
        })
        .catch((error) => {
          this.$refs.toast.showToast("Erro ao editar participante!", "error");
        })
        .finally(() => {
          this.loading = false;
        });
    },
    submit() {
      if (!this.blankFields()) {
        if (this.initial_date_reminder && this.final_date_reminder) {
          const startDate = new Date(this.initial_date_reminder);
          const endDate = new Date(this.final_date_reminder);

          if (startDate > endDate) {
            this.showError.state = true;
            this.showError.text =
              "Data final não pode ser antes da data inicial!";
            setTimeout(() => {
              this.showError.state = false;
            }, 5000);
            return;
          }
        }
        if (this.editMode) {
          this.updateReminder();
        } else {
          this.createReminder();
        }
      } else {
        this.showError.state = true;
        this.showError.text = "Preencha todos os campos obrigatórios";
        setTimeout(() => {
          this.showError.state = false;
        }, 5000);
      }
    },
  },

  watch: {
    show(newVal) {
      if (newVal) {
        this.getAllClass();
        if (this.editMode && this.selectedReminder) {
          this.message_reminder = this.selectedReminder.message_reminder || "";
          this.initial_date_reminder = this.selectedReminder
            .initial_date_reminder
            ? new Date(this.selectedReminder.initial_date_reminder)
                .toISOString()
                .split("T")[0]
            : "";
          this.final_date_reminder = this.selectedReminder.final_date_reminder
            ? new Date(this.selectedReminder.final_date_reminder)
                .toISOString()
                .split("T")[0]
            : "";
        } else {
          this.message_reminder = "";
          this.initial_date_reminder = "";
          this.final_date_reminder = "";
        }
      }
    },
  },
};
</script>
