<template>
  <div class="modal" v-if="show">
    <div class="modal-background" @click.stop="close"></div>
    <div class="modal-content scroll-container">
      <div v-if="loading" class="overlay">
        <i class="material-icons loader">cached</i>
      </div>
      <div>
        <div class="alert-header">
          <p class="alert-header-title">
            {{ editMode ? "Editar usuário" : "Criar usuário" }}
          </p>
        </div>
        <div class="alert-content">
          <input-component
            type="text"
            placeholder="Nome*"
            :value="name"
            @input="name = $event?.target?.value"
            ref="nameInput"
            :required="true"
          />
          <input-component
            type="tel"
            placeholder="Telefone*"
            @input="phone = $event?.target?.value"
            ref="phoneInput"
            :mask="'(##) #####-####'"
            :required="true"
          />
          <input-component
            type="date"
            placeholder="Data de Nascimento"
            :value="birth_date"
            @input="birth_date = $event?.target?.value"
            ref="birthDateInput"
          />
          <input-component
            type="email"
            placeholder="E-mail*"
            :value="email"
            @input="email = $event?.target?.value"
            ref="emailInput"
            :required="true"
          />
          <div class="container-button">
            <form class="form">
              <select
                class="label-input label-select"
                v-model="type_user"
                :required="true"
              >
                <option disabled value="">Selecione um tipo de usuário</option>
                <option>Aluno</option>
                <option>Funcionário</option>
                <option>Administrador</option>
              </select>
            </form>
          </div>
          <!-- Campos adicionais para o aluno -->
          <div v-if="type_user === 'Aluno'" class="additional-fields">
            <div class="container-button">
              <form class="form">
                <select class="label-input label-select" v-model="class_code">
                  <option disabled value="">
                    Selecione uma aula para matricular*
                  </option>
                  <option
                    v-for="option in options"
                    :value="option.code_class"
                    :key="option.code_class"
                  >
                    {{ option.description_class }}
                  </option>
                </select>
              </form>
            </div>
            <input-component
              type="text"
              placeholder="Nome do responsável*"
              :value="responsible_name"
              @input="responsible_name = $event?.target?.value"
              ref="responsibleNameInput"
              required
            />
          </div>
          <!-- ... -->

          <RequiredInputs />
        </div>
        <div class="alert-footer">
          <button class="button" @click="close">Cancelar</button>
          <button class="button is-primary" @click.prevent="submit">Salvar</button>
        </div>
      </div>
      <AlertMessage
        :showCondition="dateError"
        text="Selecione uma data válida"
      />
      <AlertMessage
        :showCondition="saveError"
        text="Erro ao cadastrar o usuário"
      />
      <AlertMessage
        :showCondition="emailErrorVisible"
        text="E-mail deve estar no formato 'nome_usuario@dominio.com'"
      />
      <AlertMessage
        :showCondition="emptyFields"
        text="Preencha todos os campos"
      />
      <AlertMessage
        :showCondition="studentError"
        text="Preencha todos os campos para aluno."
      />
      <AlertMessage
        :showCondition="invalidEmailError"
        text="Email ja Cadastrado."
      />

      <AlertMessage :showCondition="showError.state" :text="showError.text" />
    </div>
  </div>
</template>

<script>
import InputComponent from "@/components/inputs/InputComponent.vue";
import AlertMessage from "@/components/alerts/AlertMessage.vue";
import "@/assets/main.css";
import RequiredInputs from "@/components/inputs/RequiredInputs.vue";
import { getLocalStorageItem } from "@/middleware/localStorage";
import axios from "axios";
import config from "@/config.js";

export default {
  data() {
    return {
      showPassword: false,
      name: "",
      phone: "",
      birth_date: "",
      email: "",
      type_user: "",
      type_user_enum: "",
      dateError: false,
      saveError: false,
      emptyFields: false,
      studentError: false,
      invalidEmailError: false,
      emailErrorVisible: false,
      class_code: "",
      responsible_name: "",
      editMode: false,
      showError: {
        state: false,
        text: "",
      },
      loading: false,
    };
  },
  props: {
    show: {
      type: Boolean,
      default: false,
    },
    options: {
      type: Array,
      default: () => [],
    },
    selectedUser: {
      type: Object,
      default: null,
    },
    // editMode: {
    //   type: Boolean,
    //   default: false,
    // },
    user: {
      type: Object,
      default: null,
    },
  },
  components: {
    InputComponent,
    AlertMessage,
    RequiredInputs,
  },
  watch: {
    selectedUser: {
      immediate: true,
      handler(value) {
        if (value) {
          this.editMode = true;
          this.name = value.name_user;
          this.phone = value.phone_user;
          this.birth_date = value.birth_date_user;
          this.email = value.email_user;
          this.type_user = value.type_user;
          this.class_name = value.class_name;
          this.responsible_name = value.responsible_name;
          this.editedUser = { ...value };
        } else {
          this.resetForm();
        }
      },
    },
  },
  computed: {
    blankFields() {
      if (
        this.name.trim() === "" ||
        this.phone.trim() === "" ||
        this.birth_date.trim() === "" ||
        this.email.trim() === "" ||
        this.type_user.trim() === ""
      ) {
        return true;
      }
      return false;
    },
  },
  methods: {
    resetForm() {
      this.name = "";
      this.phone = "";
      this.birth_date = "";
      this.email = "";
      this.type_user = "";
      this.class_name = "";
      this.responsible_name = "";
      this.editMode = false;
      this.editedUser = null;
    },
    close() {
      this.$emit("update:show", false);
    },
    submit() {
      if (!this.blankFields) {
        //Verificar se a data de nascimento é valida
        const currentDate = new Date();
        const selectedDate = new Date(this.birth_date);
        if (selectedDate > currentDate) {
          this.showError.state = true;
          this.showError.text = "Selecione uma data válida.";
          setTimeout(() => {
            this.showError.state = false;
          }, 3000);
          return;
        }
        //Caso for aluno, verificar se os campos estão preenchidos
        if (this.type_user === "Aluno") {
          //Validar se campos estão preenchidos
          if (this.class_code == "" || this.responsible_name.trim() == "") {
            this.showError.state = true;
            this.showError.text = "Preencha todos os campos para aluno.";
            setTimeout(() => {
              this.showError.state = false;
            }, 5000);
            return;
          }
        }
        //Validar escrita email
        if (!this.validateEmail() && this.email !== "") {
          this.showError.state = true;
          this.showError.text =
            "E-mail deve estar no formato 'nome_usuario@dominio.com'";
          setTimeout(() => {
            this.showError.state = false;
          }, 5000);
          return;
        }
        //Definir enum tipo usuário
        switch (this.type_user) {
          case "Aluno":
            this.type_user_enum = 2;
            break;
          case "Funcionário":
            this.type_user_enum = 1;
            break;
          case "Administrador":
            this.type_user_enum = 0;
            break;
          default:
            break;
        }
        //Body para criação do usuário
        const Body = {
          name: this.name,
          email: this.email,
          phone: this.phone,
          birth_date: this.birth_date,
          type_user: this.type_user_enum,
          code_class: this.class_code,
          parent_name: this.responsible_name,
        };
        //JWT Token de Autenticacao
        const Headers = {
          headers: {
            Authorization: `Beaer ${getLocalStorageItem("jwt_token")}`,
          },
        };
        this.loading = true;
        //Requisicao de criacao de usuario
        axios
          .post(`${config.VUE_APP_API_URL}/accounts/user`, Body, Headers)
          .then((response) => {
            const Body = {
              email: this.email,
              password: response.data.model,
            };
            const Headers = {
              headers: {
                Authorization: `Beaer ${getLocalStorageItem("jwt_token")}`,
              },
            };
            axios
              .post(
                `${config.VUE_APP_API_URL}/accounts/sendMail`,
                Body,
                Headers
              )
              .then((response) => {
                this.close();
                this.$emit("user-saved", true);
              })
              .catch((error) => {
                console.log(error);
              })
              .finally(() => {
                this.loading = false; // Esconde o loader
              });
          })
          .catch((error) => {
            console.log(error);
            if (error.response.data.error == "Email Ja Cadastrado!") {
              this.showError.state = true;
              this.showError.text = "Email ja Cadastrado.";
              setTimeout(() => {
                this.showError.state = false;
              }, 5000);
            } else {
              this.showError.state = true;
              this.showError.text = "Erro ao cadastrar o usuário.";
              setTimeout(() => {
                this.showError.state = false;
              }, 5000);
            }
            this.loading = false;
          });
      } else {
        this.showError.state = true;
        this.showError.text = "Preencha todos os campos";
        setTimeout(() => {
          this.showError.state = false;
        }, 5000);
      }
    },
    isPhoneFormatValid(phoneNumber) {
      const regex = /^\(\d{2}\) \d{5}-\d{4}$/;
      return regex.test(phoneNumber);
    },
    formatPhoneNumber(phoneNumber) {
      const areaCode = phoneNumber.substring(0, 2);
      const prefix = phoneNumber.substring(2, 7);
      const suffix = phoneNumber.substring(7);
      return `(${areaCode}) ${prefix}-${suffix}`;
    },
    validateEmail() {
      const emailRegex = /^[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/;
      const isValidEmail = emailRegex.test(this.email);
      return isValidEmail;
    },
  },
};
</script>

<style>
.scroll-container {
  max-height: 100vh;
  overflow-y: auto;
}

.additional-fields {
  margin-top: 10px;
}
</style>
