.box {
    justify-content: center;
    align-items: center;
    width: 84%;
    margin-left: 15%;
    border-radius: 15px;
}

.box-2 {
    background-color: var(--cinza-padrao);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
}

.box-2-header {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.btn-add {
    background-color: var(--verde-padrao);
    color: var(--cinza-claro);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px 16px;
    cursor: pointer;
}

.btn-add:hover {
    background-color: var(--verde-padrao-hover);
}

.box-2-body {
    padding: 15px;
}

table {
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
    font-size: 17px;
}

th {
    background-color: var(--verde-padrao);
    color: var(--cinza-claro);
}

.select_month {
    width: 20%;
    height: 35px;
    font-size: 16px;
    background-color: var(--verde-padrao);
    color: var(--cinza-claro);
    font-weight: bold;
    border: none;
    margin-top: -65px;
    margin-right: 15px;
}

.select_year {
    width: 20%;
    height: 35px;
    font-size: 16px;
    background-color: var(--verde-padrao);
    color: var(--cinza-claro);
    font-weight: bold;
    border: none;
    margin-top: -65px
}

/* tr:nth-child(even) {
    color: var(--vermelho);
} */