<template>
  <Header title="Competições" />
  <MenuOptions />

  <div v-if="loading" class="overlay">
    <i class="material-icons loader">cached</i>
  </div>

  <div class="box">
    <div class="box-2">
      <div class="box-2-header">
        <button class="btn-add" @click="showCompetition()">+ Competição</button>
        <AddCompetition
          :show="showModal"
          :selectedCompetition="selectedCompetition"
          @update:show="showModal = $event"
          @competition-saved="handleCompetitionSaved"
          :valuesEditedCompetition="valuesEditedCompetition"
          :editMode="editMode"
        />
      </div>
      <ListStudentsCompetition
        :show="showModalList"
        @close-modal="showModalList = false"
        :selectedCompetition="selectedCompetition"
      />
      <div class="box-2-body responsive-table-container">
        <table class="responsive-table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Data</th>
              <th>Localização</th>
              <th>Participantes</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(competition, index) in competitions" :key="index">
              <td>{{ competition.name_competitions }}</td>
              <td>{{ this.formatDate(competition.dta_competitions) }}</td>
              <td>{{ competition.location_competetions }}</td>
              <td>
                <i
                  class="material-icons action-icon"
                  @click="viewParticipants(competition)"
                  >visibility</i
                >
              </td>
              <td>
                <i
                  class="material-icons action-icon"
                  @click="editCompetition(competition)"
                  >edit</i
                >
                <i
                  class="material-icons action-icon"
                  @click="showDeleteModal(competition)"
                  >delete</i
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <confirm-delete-modal
    :show="showDeleteConfirmation"
    :message="deleteMessage"
    @confirm="confirmDelete"
    @cancel="cancelDelete"
  />
  <toast ref="toast" />
</template>

<script>
import Header from "@/components/Header.vue";
import MenuOptions from "@/components/MenuOptions.vue";
import "@/assets/main.css";
import { getLocalStorageItem } from "@/middleware/localStorage";
import AddCompetition from "@/components/adds/AddCompetition.vue";
import axios from "axios";
import config from "@/config.js";
import ListStudentsCompetition from "@/components/competition/ListStudentsCompetition.vue";
import ConfirmDeleteModal from "@/components/ConfirmDeleteModal.vue";
import Toast from "@/components/Toast.vue";

export default {
  data() {
    return {
      competitions: [],
      showModal: false,
      editMode: false,
      editedCompetition: null,
      selectedCompetition: null,
      valuesEditedCompetition: null,
      loading: false,
      showModalList: false,
      showDeleteConfirmation: false,
      competitionToDelete: null,
      deleteMessage: "Tem certeza que deseja excluir a competição?",
    };
  },
  methods: {
    showCompetition() {
      this.showModal = true;
      this.editMode = false;
      this.selectedCompetition = null;
    },
    getCompetition() {
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };
      axios
        .get(`${config.VUE_APP_API_URL}/competition/`, Headers)
        .then((response) => {
          this.competitions = response.data.model;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    handleCompetitionSaved(success) {
      this.getCompetition();
    },
    editCompetition(competition) {
      this.loading = true;
      this.showModal = true;
      this.editMode = true;
      this.selectedCompetition = competition;
      this.loading = false;
    },
    showDeleteModal(competition) {
      this.competitionToDelete = competition;
      this.showDeleteConfirmation = true;
    },
    cancelDelete() {
      this.competitionToDelete = null;
      this.showDeleteConfirmation = false;
    },
    confirmDelete() {
      if (this.competitionToDelete) {
        this.deleteCompetition(this.competitionToDelete);
        this.competitionToDelete = null;
        this.showDeleteConfirmation = false;
      }
    },
    deleteCompetition(competition) {
      axios
        .delete(
          `${config.VUE_APP_API_URL}/competition/${competition.id_competition}`,
          {
            headers: {
              Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
            },
          }
        )
        .then((response) => {
          this.$refs.toast.showToast(
            "Competição excluida com sucesso!",
            "success"
          );
          this.getCompetition();
        })
        .catch((error) => {
          this.$refs.toast.showToast("Erro ao excluir competição!", "error");
          console.log(error);
        });
    },
    formatDate(dateString) {
      const options = { year: "numeric", month: "2-digit", day: "2-digit" };
      const formattedDate = new Date(dateString).toLocaleDateString(
        undefined,
        options
      );
      return formattedDate;
    },
    viewParticipants(competition) {
      this.showModalList = true;
      this.selectedCompetition = competition;
    },
  },
  mounted() {
    this.getCompetition();
  },
  components: {
    Header,
    MenuOptions,
    AddCompetition,
    ListStudentsCompetition,
    ConfirmDeleteModal,
    Toast,
  },
};
</script>

<style>
.action-icon {
  margin-right: 8px;
  cursor: pointer;
  color: rgb(40, 39, 39);
}

.action-icon:hover {
  color: rgb(99, 98, 98);
}

.box-2-flex {
  display: flex;
  width: 100%;
  justify-content: start;
  padding-top: 10px;
}

.wallet-gray {
  margin-right: 2%;
}

.wallet {
  margin-right: 2%;
  background-color: var(--verde-padrao);
  color: white;
}

.spending {
  margin-right: 2%;
  background-color: var(--vermelho);
  color: white;
}

.responsive-table-container {
  overflow-x: auto;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.responsive-table th,
.responsive-table td {
  width: auto;
}

@media (max-width: 1759px) {
  .box {
    margin-left: 3%;
    width: 95%;
  }
}

.loader {
  font-size: 24px;
  /* Ajuste o tamanho conforme necessário */
  animation: spin 1s linear infinite;
  /* Adicione uma animação de rotação */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Cor escura com transparência */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Z-index alto para garantir que esteja na frente de outros elementos */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
</style>
