<template>
  <Header title="Mensalidade" />
  <MenuOptions />

  <div class="box">
    <div class="box-2">
      <p class="monthly-text">Próximas</p>

      <div class="box-2-body">
        <table>
          <thead>
            <tr>
              <th>Mês</th>
              <th>Aula Matriculada</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(monthly_payment, index) in monthly_payments_pendents"
              :key="index"
            >
              <td>{{ monthly_payment.dta_payment }}</td>
              <td>{{ monthly_payment.description_class }}</td>
              <td>{{ monthly_payment.monthly_payment }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="box-2">
      <p class="monthly-text">Pagas</p>
      <div class="box-2-header">
        <select
          class="select_month"
          v-model="id_month"
          @input="handleMonthSelection"
        >
          <option value="" disabled selected>Selecionar o mês</option>
          <option value="1">Janeiro</option>
          <option value="2">Fevereiro</option>
          <option value="3">Março</option>
          <option value="4">Abril</option>
          <option value="5">Maio</option>
          <option value="6">Junho</option>
          <option value="7">Julho</option>
          <option value="8">Agosto</option>
          <option value="9">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select>

        <select
          class="select_year"
          v-model="id_year"
          @input="handleYearSelection"
        >
          <option value="" disabled selected>Selecionar o ano</option>
          <option value="2023">2023</option>
          <option value="2022">2022</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
        </select>
      </div>

      <div class="box-2-body">
        <table>
          <thead>
            <tr>
              <th>Mês</th>
              <th>Aula Matriculada</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(monthly_payment, index) in monthly_payments_paid"
              :key="index"
            >
              <td>{{ monthly_payment.dta_payment }}</td>
              <td>{{ monthly_payment.description_class }}</td>
              <td>{{ monthly_payment.monthly_payment }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="box-2">
      <p class="monthly-text">Atrasadas</p>

      <div class="box-2-body">
        <table>
          <thead>
            <tr>
              <th>Mês</th>
              <th>Aula Matriculada</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(monthly_payment, index) in monthly_payments_late"
              :key="index"
            >
              <td>{{ monthly_payment.dta_payment }}</td>
              <td>{{ monthly_payment.description_class }}</td>
              <td>{{ monthly_payment.monthly_payment }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import MenuOptions from "@/components/MenuOptions.vue";
import "@/assets/main.css";
import { getLocalStorageItem } from "@/middleware/localStorage";
import axios from "axios";
import config from "@/config.js";

export default {
  data() {
    return {
      monthly_payments_paid: [],
      monthly_payments_pendents: [],
      monthly_payments_late: [],
      showModal: false,
      id_month: "",
      id_year: "",
    };
  },
  components: {
    Header,
    MenuOptions,
  },
  methods: {
    handleMonthSelection(event) {
      const selectedMonth = event.target.value;
    },
    handleYearSelection(event) {
      const selectedYear = event.target.value;
    },
    getMonthlyPaymentsPendents() {
      //JWT TOKEN
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };
      //Listagem de mensalidades pendentes
      axios
        .get(`${config.VUE_APP_API_URL}/mensalidades/pendents/student`, Headers)
        .then((response) => {
          this.monthly_payments_pendents = response.data.model;
          for (const payment of this.monthly_payments_pendents) {
            this.createNotificationIfAbsent(
              payment.id_payment,
              payment.dta_payment,
              payment.monthly_payment
            );
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getMonthlyPaymentsLate() {
      //JWT TOKEN
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };
      //Listagem de mensalidades pendentes
      axios
        .get(`${config.VUE_APP_API_URL}/mensalidades/late/student`, Headers)
        .then((response) => {
          this.monthly_payments_late = response.data.model;
          for (const payment of this.monthly_payments_late) {
            this.createNotificationIfAbsent(
              payment.id_payment,
              payment.dta_payment,
              payment.monthly_payment
            );
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getMonthlyPaymentsPaid() {
      //JWT TOKEN
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };
      //Listagem de mensalidades pendentes
      axios
        .get(`${config.VUE_APP_API_URL}/mensalidades/paid/student`, Headers)
        .then((response) => {
          this.monthly_payments_paid = response.data.model;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getNotifications() {
      return new Promise((resolve, reject) => {
        const Headers = {
          headers: {
            Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
          },
        };
        axios
          .get(
            `${config.VUE_APP_API_URL}/notification/${getLocalStorageItem(
              "id_user"
            )}`,
            Headers
          )
          .then((response) => {
            this.notifications = response.data.model;
            resolve();
          })
          .catch((error) => {
            console.log(error);
            reject(error);
          });
      });
    },
    isIdPaymentPresent(idPayment, notifications) {
      return (
        notifications.find(
          (notification) => notification.id_payment === idPayment
        ) !== undefined
      );
    },
    createNotificationIfAbsent(idPayment, dta_payment, monthly_payment) {
      // Verifique se as notificações existem
      if (!this.notifications.length) {
        this.getNotifications().then(() => {
          this.checkPaymentAfterNotifications(
            idPayment,
            dta_payment,
            monthly_payment
          );
        });
      } else {
        this.checkPaymentAfterNotifications(
          idPayment,
          dta_payment,
          monthly_payment
        );
      }
    },
    checkPaymentAfterNotifications(idPayment, dta_payment, monthly_payment) {
      // Verifique a presença da notificação para o pagamento específico
      if (!this.isIdPaymentPresent(idPayment, this.notifications)) {
        console.log("a", idPayment);
        const dateParts = dta_payment.split("/");
        const day = dateParts[0];
        const month = dateParts[1];
        const year = dateParts[2];
        const formattedDate = `${year}-${month}-${day}`;

        const notificationBody = {
          id_payment: idPayment,
          message_notification: `Mensalidade de ${monthly_payment}R$ do Mes ${month}`,
          dta_notification: formattedDate,
        };

        const Headers = {
          headers: {
            Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
          },
        };

        axios
          .post(
            `${config.VUE_APP_API_URL}/notification/${getLocalStorageItem(
              "id_user"
            )}`,
            notificationBody,
            Headers
          )
          .then((response) => {
            this.getNotifications();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
  },
  mounted() {
    // Obtenha notificações antes de buscar pagamentos pendentes e atrasados
    this.getNotifications().then(() => {
      //Buscar Mensalidades Pendentes (ao carregar a página)
      this.getMonthlyPaymentsPendents();
      //Buscar Mensalidade Atrasadas (ao carregar a página)
      this.getMonthlyPaymentsLate();
      //Buscar Mensalidade Pagas (ao carregar a página)
      this.getMonthlyPaymentsPaid();
    });
  },
};
</script>
