<template>
  <Header title="Mensalidade" />
  <MenuOptions />

  <div class="box">
    <div class="divSearch">
      <input v-model="searchQuery" class="input-student" placeholder="Filtrar por nome do aluno" />
    </div>
    <div class="box-2 responsive-table-container">
      <p class="monthly-text">Atrasadas</p>
      <div class="box-2-body">
        <table>
          <thead>
            <tr>
              <th>Data</th>
              <th>Aluno</th>
              <th>Valor</th>
              <th>Telefone</th>
              <th>E-mail</th>
              <th>Aprovar Pagamento</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(monthly_payment, index) in filteredDelayedPayments" :key="index">
              <td>{{ monthly_payment.dta_payment }}</td>
              <td>{{ monthly_payment.user_name }}</td>
              <td>{{ monthly_payment.monthly_payment }}</td>
              <td>{{ monthly_payment.phone_user }}</td>
              <td>{{ monthly_payment.email_user }}</td>
              <td>
                <i class="material-icons action-icon" @click="checkPayment(monthly_payment)">check</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="box-2">
      <p class="monthly-text">Pendentes</p>
      <div class="box-2-header">
        <select class="select_month" v-model="selectedMonth">
          <option value="">Selecionar o mês</option>
          <option value="1">Janeiro</option>
          <option value="2">Fevereiro</option>
          <option value="3">Março</option>
          <option value="4">Abril</option>
          <option value="5">Maio</option>
          <option value="6">Junho</option>
          <option value="7">Julho</option>
          <option value="8">Agosto</option>
          <option value="9">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select>
      </div>

      <div class="box-2-body responsive-table-container">
        <table>
          <thead>
            <tr>
              <th>Data</th>
              <th>Aluno</th>
              <th>Valor</th>
              <th>Telefone</th>
              <th>E-mail</th>
              <th>Aprovar Pagamento</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(monthly_payment, index) in filteredMonthlyPayments" :key="index">
              <td>{{ monthly_payment.dta_payment }}</td>
              <td>{{ monthly_payment.user_name }}</td>
              <td>{{ monthly_payment.monthly_payment }}</td>
              <td>{{ monthly_payment.phone_user }}</td>
              <td>{{ monthly_payment.email_user }}</td>
              <td>
                <i class="material-icons action-icon" @click="checkPayment(monthly_payment)">check</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <toast ref="toast" />
</template>

<script>
import Header from "@/components/Header.vue";
import MenuOptions from "@/components/MenuOptions.vue";
import "@/assets/main.css";
import { getLocalStorageItem } from "@/middleware/localStorage";
import axios from "axios";
import config from "@/config.js";
import Toast from "@/components/Toast.vue";

export default {
  data() {
    return {
      monthly_payments_pendents: [],
      monthly_payments_late: [],
      notifications: [],
      showModal: false,
      searchQuery: "",
      selectedMonth: "",
      id: "",
    };
  },
  components: {
    Header,
    MenuOptions,
    Toast,
  },
  computed: {
    filteredMonthlyPayments() {
      const query = this.searchQuery.toLowerCase();
      const queryMonth = parseInt(this.selectedMonth);

      return this.monthly_payments_pendents.filter((payment) => {
        const matchesSearch = payment.user_name.toLowerCase().includes(query);
        const paymentDateParts = payment.dta_payment.split("/");
        const paymentMonth = parseInt(paymentDateParts[1]);

        const matchesMonth = !queryMonth || paymentMonth === queryMonth;

        return matchesSearch && matchesMonth;
      });
    },
    filteredDelayedPayments() {
      const query = this.searchQuery.toLowerCase();
      return this.monthly_payments_late.filter((payment) =>
        payment.user_name.toLowerCase().includes(query)
      );
    },
  },
  methods: {
    showMovement() {
      this.showModal = true;
    },

    checkPayment(mensalidade) {
      //JWT TOKEN
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };
      //BODY mensalidade paga
      const Body = {
        mensalidade_name: mensalidade.user_name,
        monthly_payment: mensalidade.monthly_payment,
      };
      //Alterar Status da Mensalidade para Pago
      axios
        .patch(
          `${config.VUE_APP_API_URL}/mensalidades/paid/${mensalidade.id_payment}`,
          Body,
          Headers
        )
        .then((response) => {
          //Atualizar Listas de Mensalidades
          this.$refs.toast.showToast(
            "Mensalidade aprovada com sucesso!",
            "success"
          );
          this.getMonthlyPaymentsLate();
          this.getMonthlyPaymentsPendents();
        })
        .catch((error) => {
          this.$refs.toast.showToast("Erro ao aprovar mensalidade!", "error");
          console.log(error);
        });
    },
    getMonthlyPaymentsPendents() {
      //JWT TOKEN
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };
      //Listagem de mensalidades pendentes
      axios
        .get(`${config.VUE_APP_API_URL}/mensalidades/pendents`, Headers)
        .then((response) => {
          this.monthly_payments_pendents = response.data.model;
          for (const payment of this.monthly_payments_pendents) {
            this.createNotificationIfAbsent(
              payment.id_payment,
              payment.dta_payment,
              payment.monthly_payment
            );
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getMonthlyPaymentsLate() {
      //JWT TOKEN
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };
      //Listagem de mensalidades pendentes
      axios
        .get(`${config.VUE_APP_API_URL}/mensalidades/late`, Headers)
        .then((response) => {
          this.monthly_payments_late = response.data.model;
          for (const payment of this.monthly_payments_late) {
            this.createNotificationIfAbsent(
              payment.id_payment,
              payment.dta_payment,
              payment.monthly_payment
            );
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getNotifications() {
      return new Promise((resolve, reject) => {
        const Headers = {
          headers: {
            Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
          },
        };
        axios
          .get(
            `${config.VUE_APP_API_URL}/notification/${getLocalStorageItem(
              "id_user"
            )}`,
            Headers
          )
          .then((response) => {
            this.notifications = response.data.model;
            resolve();
          })
          .catch((error) => {
            console.log(error);
            reject(error);
          });
      });
    },
    isIdPaymentPresent(idPayment, notifications) {
      return (
        notifications.find(
          (notification) => notification.id_payment === idPayment
        ) !== undefined
      );
    },
    createNotificationIfAbsent(idPayment, dta_payment, monthly_payment) {
      // Verifique se as notificações existem
      if (!this.notifications.length) {
        this.getNotifications().then(() => {
          this.checkPaymentAfterNotifications(
            idPayment,
            dta_payment,
            monthly_payment
          );
        });
      } else {
        this.checkPaymentAfterNotifications(
          idPayment,
          dta_payment,
          monthly_payment
        );
      }
    },
    checkPaymentAfterNotifications(idPayment, dta_payment, monthly_payment) {
      // Verifique a presença da notificação para o pagamento específico
      if (!this.isIdPaymentPresent(idPayment, this.notifications)) {
        console.log("a", idPayment);
        const dateParts = dta_payment.split("/");
        const day = dateParts[0];
        const month = dateParts[1];
        const year = dateParts[2];
        const formattedDate = `${year}-${month}-${day}`;

        const notificationBody = {
          id_payment: idPayment,
          message_notification: `Mensalidade de R$${monthly_payment} do Mes ${month}`,
          dta_notification: formattedDate,
        };
        const Headers = {
          headers: {
            Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
          },
        };
        axios
          .post(
            `${config.VUE_APP_API_URL}/notification/${getLocalStorageItem(
              "id_user"
            )}`,
            notificationBody,
            Headers
          )
          .then((response) => {
            this.getNotifications();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
  },
  mounted() {
    // Obtenha notificações antes de buscar pagamentos pendentes e atrasados
    this.getNotifications().then(() => {
      this.getMonthlyPaymentsPendents();
      this.getMonthlyPaymentsLate();
    });
  },
};
</script>

<style>
.inputSearch {
  border-color: #58af9b;
}

.divSearch {
  padding-bottom: 1%;
}

.input-student {
  width: 99%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #58af9b;
  padding-left: 10px;
}
</style>
