.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.modal-background {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    width: 50%;
    background-color: var(--cinza-claro);
    padding: 1rem;
    border-radius: 25px;
}

.alert-header {
    background-color: var(--cinza-padrao);
    padding: 1rem;
    border-radius: 25px;
}

.alert-header-title {
    font-size: 1.25rem;
}

.alert-content {
    padding: 1rem;
}

.alert-footer {
    background-color: var(--cinza-padrao);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}

.button {
    border-radius: 15px;
    text-transform: uppercase;
    background-color: var(--vermelho);
    color: var(--cinza-claro);
    font-size: 15px;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    width: 170px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.button.is-primary {
    background-color: var(--verde-padrao);
    color: var(--cinza-claro);
}