.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    padding: 10px 50px;
}

.page-title h1 {
    font-size: 30px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    float: left;
    font-weight: normal;
}

.right {
    display: flex;
    align-items: center;
    position: relative;
}

.card {
    background-color: var(--cinza-padrao);
    border-radius: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 10px 0 10px;
    font-size: 20px;
    position: relative;
}

.options {
    display: none;
    position: absolute;
    top: 48px;
    right: 0;
    width: 150px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
    font-size: 20px;
}

.options div {
    padding: 5px 0;
    cursor: pointer;
}

.user:hover .options {
    display: block;
    flex-direction: column;
}

.icon-left img {
    width: 200px;
    height: 100px;
}
.icon-arrow {
    margin-left: 5px;
    width: 30px;
}
