
.side-menu {
    float: left;
    margin-top: 1%;
    width: 15%;
    display: flex;
    flex-direction: column;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 16px;
    cursor: pointer;
}

.menu-item:hover {
    background-color: var(--cinza-padrao);
}

.menu-item-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-left: 10px;
}

.icons {
    width: 40px;
    height: 40px;
    background: var(--cinza-claro-permanente);
    border-radius: 5px;
    padding: 2px;
}

.font{
    font-family: 'Montserrat', sans-serif;
}