.perfil {
    display: flex;
    flex-grow: 1;

}

.box-1 {
    background-color: var(--cinza-padrao);
    width: 98%;
    margin: 2%;
    border-radius: 15px;

}

.card-my-perfil {
    background-color: var(--cinza-claro);
    width: 45%;
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;
    text-align: center;
    border-radius: 50px;
}

.competition {
    background-color: var(--cinza-claro);
    width: 89%;
    height: 27%;
    margin: 1% 1% 1% 5%;
    padding: 1% 1% 1% 1%;
    text-align: center;
    border-radius: 50px;
    font-size: 20px;
}

.form {
    padding: 10px;
}

.my-profile-data {
    text-align: left;
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 10px;
    float: left;
    left: 0;
}

.change-password {
    margin-left: 50%;
    border-radius: 15px;
    text-transform: uppercase;
    background-color: var(--roxo);
    color: var(--cinza-claro);
    font-size: 15px;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    width: 70%;
    align-self: center;
    border: none;
    margin-top: 2rem;
}

.edit-button {
    margin-left: 50%;
    border-radius: 15px;
    text-transform: uppercase;
    background-color: var(--roxo);
    color: var(--cinza-claro);
    font-size: 15px;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    width: 170px;
    align-self: center;
    border: none;
    margin-top: 2rem;
}

.save-button {
    margin-left: 50%;
    border-radius: 15px;
    text-transform: uppercase;
    background-color: var(--verde-padrao);
    color: var(--cinza-claro);
    font-size: 15px;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    width: 170px;
    align-self: center;
    border: none;
    margin-top: 2rem;
}

.ball {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.paid {
    background-color: green;
}

.overdue {
    background-color: red;
}

.status-text {
    font-size: 14px;
}

.form-row {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    margin-bottom: 10px;
}