<template>
    <p v-if="showCondition" class="error-message">{{ text }}</p>
</template>

<script>
export default {
    name: "AlertMessage",
    props: {
        text: {
            type: String,
            required: true
        },
        showCondition: {
            type: Boolean,
            default: false,
        },
    },
};
</script>

<style>
.error-message {
  font-size: 16px;
  height: 25px;
  align-items: center;
  background-color: var(--vermelho);
  border-radius: 50px;
  color: white; 
  font-weight: bold;
  padding: 10px; 
  text-align: center; 
  margin-top: 10px; 
}
</style>
