<template>
    <div class="modal" v-if="show">
        <div class="modal-background" @click.stop="close"></div>
        <div class="modal-content">
            <div>
                <div class="alert-header">
                    <p class="alert-header-title">Alterar senha</p>
                </div>
                <div class="alert-content">
                    <input-component type="password" placeholder="Senha Atual" eyeIcon="../component/icon/olgo.svg" />
                    <input-component type="password" placeholder="Nova Senha" v-model="newPassword" />
                </div>
                <div class="alert-footer">
                    <button class="button" @click="close">Cancelar</button>
                    <button class="button is-primary" :disabled="!passwordsMatch" @click="submit">Salvar</button>                
                </div>
            </div>
        </div>
    </div>
</template>
  
<script>
import InputComponent from '@/components/inputs/InputComponent.vue';

export default {
    data() {
        return {
            newPassword: '',
            confirmPassword: '',
            showPassword: false,
        }
    },
    props: {
        show: {
            type: Boolean,
            default: false,
        },
    },
    components: {
        InputComponent
    },
    computed: {
        passwordsMatch() {
            return this.newPassword === this.confirmPassword;
        },
        inputType() {
            return this.showPassword ? 'text' : 'password';
        },
    },
    methods: {
        close() {
            this.$emit("update:show", false);
        },
        submit() {
            if (this.passwordsMatch) {
                // Fazer a submissão do formulário aqui
            } else {
                this.saveError = true;
                    setTimeout(() => {
                        this.saveError = false;
                    }, 5000);
                alert('As senhas não são iguais.');
            }
        },
    },
};
</script>