<template>
  <div>
    <canvas :id="myChart"></canvas>
  </div>
</template>
  
<script>
import Chart from 'chart.js/auto'

export default {
  name: 'BarChart',
  props: {
    chartBarLabels: {
      type: Array,
      default: []
    },
    chartBarDataGanho: {
      type: Array,
      default: []
    },
    chartBarDataGasto: {
      type: Array,
      default: []
    },
    chartBarText: {
      type: String,
      default: "Movimentações Anual"
    },
    myChart: {
      type: String,
      default: "BarChart"
    }
  },
  mounted() {
    var ctx = document.getElementById(this.myChart);

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: this.chartBarLabels,
        datasets: [
          {
            label: 'GANHO',
            fill: false,
            data: this.chartBarDataGanho,
            borderColor: '#58AF9B',
            borderWidth: 2,
            backgroundColor: '#58AF9B'
          },
          {
            label: 'GASTO',
            fill: false,
            data: this.chartBarDataGasto,
            borderColor: '#A41247',
            borderWidth: 2,
            backgroundColor: '#A41247'
          }
        ]
      },
      options: {
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: this.chartBarText,
            font: {
              size: 28
            },
            color: '#58AF9B',
            padding: {
              top: 10
            },
            align: 'start'
          }
        },
        scales: {
          y: {
            beginAtZero: true
          },
          x: {
            beginAtZero: true
          }
        }
      }
    });
  }
}
</script>
  