<template>
  <div>
    <canvas :id="myChart" height="80"></canvas>
  </div>
</template>

<script>
import Chart from 'chart.js/auto'

export default {
  name: 'LineChart',
  props: {
    chartLineLabels: {
      type: Array,
      default: []
    },
    chartLineDataGanho: {
      type: Array,
      default: []
    },
    chartLineDataGasto: { 
      type: Array,
      default: []
    },
    chartLineDataSaldo: { 
      type: Array,
      default: []
    },
    chartLineText: {
      type: String,
      default: "Movimentações Financeiras"
    },
    myChart: {
      type: String,
      default: "LineChart"
    }
  },
  mounted() {
    let ctx = document.getElementById(this.myChart);
    
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: this.chartLineLabels,
        datasets: [
          {
            label: 'GANHO',
            fill: false,
            data: this.chartLineDataGanho,
            borderColor: '#58AF9B',
            borderWidth: 2,
            backgroundColor: '#58AF9B'
          },
          {
            label: 'GASTO',
            fill: false,
            data: this.chartLineDataGasto,
            borderColor: '#A41247',
            borderWidth: 2,
            backgroundColor: '#A41247'
          },
          {
            label: 'SALDO',
            fill: false,
            data: this.chartLineDataSaldo,
            borderColor: '#c4a921',
            borderWidth: 2,
            backgroundColor: '#c4a921'
          }
        ]
      },
      options: {
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: this.chartLineText,
            font: {
              size: 28
            },
            color: '#58AF9B',
            padding: {
              top: 10
            },
            align: 'start'
          }
        },
        scales: {
          y: {
            beginAtZero: true
          },
          x: {
            beginAtZero: true
          }
        }
      }
    });
  }
}
</script>
