<template>
  <div>
    <canvas :id="myChart"></canvas>
  </div>
</template>

<script>
import Chart from 'chart.js/auto'

export default {
  name: 'PieChart',
  props: {
    chartPieLabels: {
      type: Array,
      default: []
    },
    chartPieData: {
      type: Array,
      default: []
    },
    chartPieText: {
      type: String,
      default: "Divisão de gastos"
    },
    myChart: {
      type: String,
      default: "PieChart"
    }
  },
  data() {
    return {
      labelColors: {}
    };
  },
  mounted() {
    var ctx = document.getElementById(this.myChart);
    this.initializeColors();
    new Chart(ctx, {
      type: 'pie',
      data: {
        labels: this.chartPieLabels,
        datasets: [{
            label: 'Quantidade',
            data: this.chartPieData,
            backgroundColor: this.backgroundColors,
            hoverOffset: 4
        }],
        hoverOffset: 4
      },
      options: {
        plugins: {
          title: {
            display: true,
            text: this.chartPieText,
            font: {
              size: 28
            },
            color: '#58AF9B',
            padding: {
              top: 10
            },
            align: 'start'
          }
        },
      }
    });
  },
  methods: {
    initializeColors() {
      this.chartPieLabels.forEach((label) => {
        this.labelColors[label] = this.getRandomColor();
      });
    },
    getRandomColor() {
      const letters = '0123456789ABCDEF';
      let color = '#';
      for (let i = 0; i < 15; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }
  }
}
</script>