<template>
    <button :class="class">{{ text }}</button>
</template>

<script>
import '@/assets/forgot_password/button.css';

export default {
    props:
    {
        text: {
            type: String,
            required: true
        },
        class: {
            type: String,
            required: true
        }
    }
}
</script>