<template>
    <div class="content-info">
      <div class="content-text">
        <p>
          Bem-vindo ao seu perfil. Aqui você pode visualizar e editar suas informações pessoais.
        </p>
        <p>
          Alterne entre os modos claro e escuro para uma experiência personalizada.
        </p>
      </div>
      <button @click="toggleDarkMode" id="dark-mode-toggle" :style="{ 
            borderRadius: isDarkMode ? '5px' : '5px',
            width: isDarkMode ? '200px' : '200px',
            }" :class="{ darkModeButton: isDarkMode }">
        <i class="material-icons" :style="'margin-right: 5px'" :class="{ 'black-icon': isDarkMode }">{{ isDarkMode ? 'wb_sunny' : 'brightness_2' }}</i>
            {{ isDarkMode ? 'Ativar Light Mode' : 'Ativar Dark Mode' }}
      </button>
    </div>
  </template>

<script>
import { setLocalStorageItem, getLocalStorageItem } from "@/middleware/localStorage";

export default {
    data() {
        return {
        isDarkMode: false,
        };
    },
    methods: {
        toggleDarkMode() {
        this.isDarkMode = !this.isDarkMode;
        const theme = this.isDarkMode ? 'dark' : 'light';
        document.body.setAttribute('data-theme', theme);
        setLocalStorageItem('darkMode', this.isDarkMode);
        window.dispatchEvent(new CustomEvent('theme-changed', { detail: theme }));
        },
    },
    mounted() {
        const savedDarkMode = getLocalStorageItem('darkMode');
        if (savedDarkMode !== null) {
        this.isDarkMode = JSON.parse(savedDarkMode);
        const theme = this.isDarkMode ? 'dark' : 'light';
        document.body.setAttribute('data-theme', theme);
        }
    },
};
</script>

<style scoped>
#dark-mode-toggle {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px !important;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

#dark-mode-toggle:hover {
  background-color: #5e5e5e;
}

.darkModeButton {
  background-color: #fff !important;
  color: #000 !important;
}

.darkModeButton:hover {
  background-color: #5e5e5e !important;
  color: #000 !important;
}

.content-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 18px;
}
.black-icon {
  color: black !important;
}

.content-text {
  text-align: center;
}

@media (min-width: 1943px) and (max-width: 2761px) {
  #dark-mode-toggle {
    margin-top: 40px;
  }
}
</style>