.container-button {
    display: flex;
    justify-content: center;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: var(--cinza-claro);
    font-size: 15px;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    width: 170px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.btn-primary {
    background-color: transparent;
    border: 1px solid var(--cinza-claro);
    transition: background-color .5s;
}
.btn-primary:hover {
    background-color: var(--cinza-claro);
    color: var(--verde-padrao);
}
.btn-second {
    background-color: var(--verde-padrao);
    border: 1px solid var(--verde-padrao);
    transition: background-color .5s;
}
.btn-second:hover {
    background-color: var(--cinza-claro);
    border: 1px solid var(--verde-padrao);
    color: #58af9b;
}