<template>
  <div class="modal" v-if="show">
    <div class="modal-content">
      <div>
        <div class="alert-header">
          <p class="alert-header-title">{{ "Competição" }}</p>
        </div>
        <div class="add-integral">
          <button class="btn-add" @click="showIntegral()">+ Integrante</button>
          <AddIntegral
            :show="showModal"
            :selectedCompetition="this.selectedCompetition"
            :selectedStudent="this.selectedIntegral"
            :editMode="this.editMode"
            @update:show="showModal = $event"
            @modal-closed="handleModalClosed"
          />
        </div>
        <div class="box-2-body responsive-table-container">
          <table class="responsive-table">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Posição</th>
                <th>Modalidade</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(aluno, index) in this.alunos" :key="index">
                <td>{{ aluno.name_user }}</td>
                <td>{{ aluno.position_student + "° lugar" }}</td>
                <td>{{ aluno.modality }}</td>
                <td>
                  <i
                    class="material-icons action-icon"
                    @click="editIntegral(aluno)"
                    >edit</i
                  >
                  <i
                    class="material-icons action-icon"
                    @click="deleteIntegral(aluno)"
                    >delete</i
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="alert-footer" style="justify-content: center">
          <button class="button" @click="close">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getLocalStorageItem } from "@/middleware/localStorage";
import axios from "axios";
import config from "@/config.js";
import AddIntegral from "@/components/adds/AddIntegral.vue";
export default {
  props: {
    show: {
      type: Boolean,
      default: false,
    },
    selectedCompetition: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      selectedIntegral: null,
      alunos: [],
      editMode: false,
      showModal: false,
    };
  },
  components: {
    AddIntegral,
  },
  methods: {
    showIntegral() {
      this.showModal = true;
    },
    close() {
      this.$emit("close-modal");
    },
    editIntegral(aluno) {
      this.showModal = true;
      this.editMode = true;
      this.selectedIntegral = aluno;
    },
    handleModalClosed() {
      this.selectedIntegral = null;
      this.editMode = false;
      this.getStudents();
    },
    deleteIntegral(aluno) {
      axios
        .delete(
          `${config.VUE_APP_API_URL}/competition/${this.selectedCompetition.id_competition}/participant/${aluno.id_user}`,
          {
            headers: {
              Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
            },
          }
        )
        .then((response) => {
          this.getStudents();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getStudents() {
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };
      axios
        .get(
          `${config.VUE_APP_API_URL}/competition/students/${this.selectedCompetition.id_competition}`,
          Headers
        )
        .then((response) => {
          this.alunos = response.data.model;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  watch: {
    show(newVal) {
      if (newVal) {
        this.getStudents();
      }
    },
  },
};
</script>

<style>
.add-integral {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0px 0;
}

@media only screen and (max-width: 1010px) {
  .modal-content {
    width: 85%;
    height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .mobile {
    width: 90%;
    margin-left: 7%;
  }
}

@media only screen and (max-width: 1025px) {
  .modal-content {
    width: 85%;
    height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
</style>
