<template>
  <Header title="Dashboard" />
  <MenuOptions />

  <div class="box">
    <div class="box-2 box-2-body">
      <button class="btn-upt" @click="updateDataCharts()">Atualizar Dados</button>
      <div class="line-chart">
        <select
          :value="id_year_line"
          class="movimentation-filter select_month"
          v-model="id_year_line"
          @change="handleLineYearSelection"
        >
          <option disabled value="">Selecione o ano</option>
          <option v-for="year in years_dash_data" :key="year">
            {{ year }}
          </option>
        </select>
        <LineChart
          v-if="reRenderLineChart"
          myChart="LineChart"
          :chartLineText="chartLineText"
          :chartLineLabels="chartLineLabels"
          :chartLineDataGanho="chartLineDataGanho"
          :chartLineDataGasto="chartLineDataGasto"
          :chartLineDataSaldo="chartLineDataSaldo"
        />
      </div>
      <div class="flex">
        <div class="bar-chart">
          <select
            :value="id_year_bar"
            class="movimentation-filter select_month"
            v-model="id_year_bar"
            @change="handleBarYearSelection"
          >
            <option disabled value="">Selecionar o ano</option>
            <option v-for="year in years_dash_data" :key="year">
              {{ year }}
            </option>
          </select>
          <BarChart
            v-if="reRenderLineChart"
            myChart="BarChart"
            :chartBarText="chartBarText"
            :chartBarLabels="chartBarLabels"
            :chartBarDataGanho="chartBarDataGanho"
            :chartBarDataGasto="chartBarDataGasto"
          />
        </div>
        <div class="pie-chart">
          <PieChart
            v-if="reRenderLineChart"
            myChart="PieChart"
            :chartPieText="chartPieText"
            :chartPieLabels="chartPieLabels"
            :chartPieData="chartPieData"
          />
        </div>
      </div>
    </div>
  </div>
  <toast ref="toast" />
</template>

<script>
import Header from "@/components/Header.vue";
import MenuOptions from "@/components/MenuOptions.vue";
import LineChart from "@/components/charts/LineChart.vue";
import PieChart from "@/components/charts/PieChart.vue";
import BarChart from "@/components/charts/BarChart.vue";
import { nextTick } from "vue";
import { getLocalStorageItem } from "@/middleware/localStorage";
import { numberToMonth } from "@/utils/String_Formatter";
import axios from "axios";
import config from "@/config.js";
import "@/assets/main.css";
import Toast from "@/components/Toast.vue";

export default {
  data() {
    return {
      id_year_line: "",
      id_year_bar: "",
      years_dash_data: [],
      reRenderLineChart: true,
      //Line Data
      chartLineLabels: [],
      chartLineDataSaldo: [],
      chartLineDataGanho: [],
      chartLineDataGasto: [],
      chartLineLabelsReserva: [],
      chartLineDataSaldoReserved: [],
      chartLineDataGanhoReserved: [],
      chartLineDataGastoReserved: [],
      chartLineText: "Movimentações Financeiras",
      //Bar Data
      chartBarLabels: [],
      chartBarDataGanho: [],
      chartBarDataGasto: [],
      chartBarLabelsReserved: [],
      chartBarDataGanhoReserved: [],
      chartBarDataGastoReserved: [],
      chartBarText: "Movimentações Anuais",
      //Pie Data
      chartPieLabels: [],
      chartPieData: [],
      chartPieText: "Divisão de gastos",
    };
  },
  methods: {
    async updateDataCharts() {
      const jwtToken = getLocalStorageItem("jwt_token");

      const headers = { Authorization: `Bearer ${jwtToken}` };
      await axios
        .put(`${config.VUE_APP_API_URL}/financial/dashboard`, null, { headers })
        .then(() => {
          this.getDashboardValues();
        });
    },
    handleLineYearSelection() {
      this.chartLineText = `Movimentações Financeiras ${this.id_year_line}`;
      this.filterLineChart();
      this.forceReRenderLineChart();
    },
    handleBarYearSelection() {
      this.chartBarText = `Movimentações Anual ${this.id_year_bar}`;
      this.filterBarChart();
      this.forceReRenderLineChart();
    },
    async forceReRenderLineChart() {
      this.reRenderLineChart = false;
      await nextTick();
      this.reRenderLineChart = true;
    },
    filterLineChart() {
      const chartLineLabelsFiltro = [];
      const chartLineDataSaldoFiltro = [];
      const chartLineDataGanhoFiltro = [];
      const chartLineDataGastoFiltro = [];

      this.chartLineLabelsReserved.forEach((labelsData, indice) => {
        const labelYearMonth = labelsData.split("/");
        const yearFromLabel = labelYearMonth[1]; // Extrai o ano da string
        if (yearFromLabel === this.id_year_line) {
          chartLineLabelsFiltro.push(this.chartBarLabelsReserved[indice]);
          chartLineDataSaldoFiltro.push(
            this.chartLineDataSaldoReserved[indice]
          );
          chartLineDataGanhoFiltro.push(
            this.chartLineDataGanhoReserved[indice]
          );
          chartLineDataGastoFiltro.push(
            this.chartLineDataGastoReserved[indice]
          );
        }

        this.chartLineLabels = chartLineLabelsFiltro;
        this.chartLineDataSaldo = chartLineDataSaldoFiltro;
        this.chartLineDataGanho = chartLineDataGanhoFiltro;
        this.chartLineDataGasto = chartLineDataGastoFiltro;
      });
    },
    filterBarChart() {
      const chartBarLabelsFiltro = [];
      const chartBarDataGanhoFiltro = [];
      const chartBarDataGastoFiltro = [];

      this.chartBarLabelsReserved.forEach((labelsData, indice) => {
        const labelYearMonth = labelsData.split("/");
        const yearFromLabel = labelYearMonth[1]; // Extrai o ano da string
        if (yearFromLabel === this.id_year_bar) {
          chartBarLabelsFiltro.push(this.chartBarLabelsReserved[indice]);
          chartBarDataGanhoFiltro.push(this.chartBarDataGanhoReserved[indice]);
          chartBarDataGastoFiltro.push(this.chartBarDataGastoReserved[indice]);
        }

        this.chartBarLabels = chartBarLabelsFiltro;
        this.chartBarDataGanho = chartBarDataGanhoFiltro;
        this.chartBarDataGasto = chartBarDataGastoFiltro;
      });
    },
    async getDashboardValues() {
      try {
        const jwtToken = getLocalStorageItem("jwt_token");

        const headers = { Authorization: `Bearer ${jwtToken}` };
        const response = await axios.get(
          `${config.VUE_APP_API_URL}/financial/dashboard`,
          { headers }
        );
        const dashboardData = response.data.model.movement;
        const categoriesData = response.data.model.category;

        const years_dash_data = [];

        const chartLineDataSaldo = [];
        const chartLineDataGanho = [];
        const chartLineDataGasto = [];
        const chartLineLabels = [];

        const chartBarDataGanho = [];
        const chartBarDataGasto = [];
        const chartBarLabels = [];

        const chartPieData = [];
        const chartPieLabels = [];

        dashboardData.forEach((dashData) => {
          console.log(!years_dash_data.includes(years_dash_data));
          if (!years_dash_data.includes(dashData.year_register)) {
            years_dash_data.push(dashData.year_register);
          }
          // Adicione dados ao gráfico de linha
          chartLineDataSaldo.push(dashData.balance);
          chartLineDataGanho.push(dashData.total_earning);
          chartLineDataGasto.push(dashData.total_expense);
          chartLineLabels.push(
            `${numberToMonth(dashData.month_register)}/${
              dashData.year_register
            }`
          );
          // Adicione dados ao gráfico de barras
          chartBarDataGanho.push(dashData.total_earning);
          chartBarDataGasto.push(dashData.total_expense);
          chartBarLabels.push(
            `${numberToMonth(dashData.month_register)}/${
              dashData.year_register
            }`
          );
        });

        categoriesData.forEach((categoryData) => {
          chartPieData.push(categoryData.count_register);
          chartPieLabels.push(categoryData.name_category);
        });

        this.years_dash_data = years_dash_data;
        // Atualize os dados dos gráficos
        this.chartLineLabels = chartLineLabels;
        this.chartLineDataSaldo = chartLineDataSaldo;
        this.chartLineDataGanho = chartLineDataGanho;
        this.chartLineDataGasto = chartLineDataGasto;
        this.chartLineLabelsReserved = chartLineLabels;
        this.chartLineDataSaldoReserved = chartLineDataSaldo;
        this.chartLineDataGanhoReserved = chartLineDataGanho;
        this.chartLineDataGastoReserved = chartLineDataGasto;

        this.chartBarLabels = chartBarLabels;
        this.chartBarDataGanho = chartBarDataGanho;
        this.chartBarDataGasto = chartBarDataGasto;
        this.chartBarLabelsReserved = chartBarLabels;
        this.chartBarDataGanhoReserved = chartBarDataGanho;
        this.chartBarDataGastoReserved = chartBarDataGasto;

        this.chartPieData = chartPieData;
        this.chartPieLabels = chartPieLabels;

        this.forceReRenderLineChart();
        this.$refs.toast.showToast("Dados Atualizados com sucesso!", "success");
      } catch (error) {
        console.error(
          "Ocorreu um erro ao buscar os dados do painel de controle:",
          error
        );
        this.$refs.toast.showToast("Erro ao atualizar dados!", "error");
      }
    },
  },
  async mounted() {
    await this.getDashboardValues();
  },
  components: {
    Header,
    MenuOptions,
    LineChart,
    PieChart,
    Toast,
    BarChart,
  },
};
</script>

<style>
.line-chart {
  width: 99%;
  background-color: #ffffff;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px;
}

.pie-chart {
  width: 30%;
  background-color: #ffffff;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px;
  height: 5%;
  margin-right: 10px;
}

.bar-chart {
  background-color: #ffffff;
  border-radius: 15px;
  width: 70%;
  margin-right: 10px;
  padding: 10px 10px 0 10px;
}

.flex {
  display: flex;
}

.movimentation-filter {
  float: right;
  margin-right: 15px;
  margin-top: 10px;
  padding: 2px 10px 2px 10px;
}

.btn-upt {
  background-color: var(--amarelo);
  color: var(--cinza-claro);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 8px 16px;
  cursor: pointer;
  margin: 10px;
}

.btn-upt:hover {
  background-color: var(--amarelo-hover);
}

@media screen and (max-width: 825px) {
  .flex {
    display: block;
  }

  .line-chart {
    padding-right: 1px;
  }

  .pie-chart {
    width: 100%;
    margin-top: 10px;
    padding-right: 1px;
  }

  .bar-chart {
    width: 100%;
    padding-right: 1px;
  }
}
</style>
