<template>
  <Header title="Agenda" />
  <MenuOptions />

  <div class="box">
    <div class="box-2">
      <div class="box-calendar">
        <Calendar
          :expanded="true"
          :attributes="this.attributes.value"
          :color="indigo"
          :is-dark="this.isDark"
        />
      </div>
      <div class="box-2-header" v-if="this.admin">
        <button class="btn-add" @click="showAddReminder()">+ Lembrete</button>
        <AddReminder
          :show="showModal"
          :selectedReminder="selectedReminder"
          @update:show="showModal = $event"
          @reminder-saved="handleReminderSaved"
          :editMode="editMode"
        />
      </div>
      <div class="box-2-body responsive-table-container">
        <div v-for="reminder in reminders" :key="reminder.id_reminder">
          <div class="card_reminder">
            <div class="action-options" v-if="this.admin">
              <i
                class="material-icons action-icon"
                @click="editReminder(reminder)"
                >edit</i
              >
              <i
                class="material-icons action-icon"
                @click="showDeleteModal(reminder)"
                >delete</i
              >
            </div>
            <div class="section" v-if="reminder.description_class">
              <p style="font-weight: bold">
                Aula - {{ reminder.description_class }}
              </p>
            </div>
            <div class="section">
              <p>{{ reminder.message_reminder }}</p>
            </div>
            <div
              v-if="
                reminder.final_date_reminder || reminder.initial_date_reminder
              "
            >
              <div class="date-section">
                <p
                  v-if="
                    reminder.initial_date_reminder &&
                    reminder.final_date_reminder
                  "
                >
                  Data Inicial -
                  {{ formatDate(reminder.initial_date_reminder) }}
                </p>
                <p v-else-if="reminder.initial_date_reminder">
                  Data -
                  {{ formatDate(reminder.initial_date_reminder) }}
                </p>
                <div
                  class="date-separator"
                  v-if="
                    reminder.final_date_reminder &&
                    reminder.initial_date_reminder
                  "
                />
                <p v-if="reminder.final_date_reminder">
                  Data Final -
                  {{ formatDate(reminder.final_date_reminder) }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <confirm-delete-modal
    :show="showDeleteConfirmation"
    :message="deleteMessage"
    @confirm="confirmDelete"
    @cancel="cancelDelete"
  />
  <toast ref="toast" />
</template>

<script>
import Header from "@/components/Header.vue";
import MenuOptions from "@/components/MenuOptions.vue";
import { getLocalStorageItem } from "@/middleware/localStorage";
import "@/assets/main.css";
import axios from "axios";
import config from "@/config.js";
import ConfirmDeleteModal from "@/components/ConfirmDeleteModal.vue";
import Toast from "@/components/Toast.vue";
import AddReminder from "@/components/adds/AddReminder.vue";
import { Calendar } from "v-calendar";
import "v-calendar/style.css";
import { ref } from "vue";

export default {
  data() {
    return {
      isDark: false,
      attributes: ref([]),
      reminders: [],
      showModal: false,
      editMode: false,
      valuesEditedReminder: null,
      selectedReminder: null,
      showDeleteConfirmation: false,
      reminderToDelete: null,
      deleteMessage: "Tem certeza que deseja excluir o lembrete?",
      admin: false,
    };
  },
  methods: {
    getRightReminders() {
      this.admin = getLocalStorageItem("type_user") == 2;
      if (this.admin) {
        this.getAllReminders();
      } else {
        this.getUserReminders();
      }
    },
    showAddReminder() {
      this.showModal = true;
      this.editMode = false;
      //   ?????????? this.selectedClass = null;
    },

    handleReminderSaved(sucess) {
      if (sucess) {
        if (!this.editMode) {
          this.$refs.toast.showToast("Lembrete criado com sucesso!", "success");
        } else {
          this.$refs.toast.showToast(
            "Lembrete editado com sucesso!",
            "success"
          );
        }
        this.getRightReminders();
      }
    },
    getAllReminders() {
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };
      axios
        .get(`${config.VUE_APP_API_URL}/reminder/get_all`, Headers)
        .then((response) => {
          this.reminders = response.data.model;
          this.createAttributes(this.reminders);
        })
        .catch((error) => {
          this.$refs.toast.showToast(
            "Ocorreu um erro ao buscar lembretes!",
            "error"
          );
        });
    },
    getUserReminders() {
      //get user ta errado
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };
      axios
        .get(
          `${config.VUE_APP_API_URL}/reminder/${getLocalStorageItem(
            "id_user"
          )}`,
          Headers
        )
        .then((response) => {
          this.reminders = response.data.model;
          this.createAttributes(this.reminders);
        })
        .catch((error) => {
          this.$refs.toast.showToast(
            "Ocorreu um erro ao buscar lembretes!",
            "error"
          );
        });
    },
    showDeleteModal(class_user) {
      this.reminderToDelete = class_user;
      this.showDeleteConfirmation = true;
    },
    cancelDelete() {
      this.reminderToDelete = null;
      this.showDeleteConfirmation = false;
    },
    confirmDelete() {
      if (this.reminderToDelete) {
        this.deleteReminder(this.reminderToDelete);
        this.reminderToDelete = null;
        this.showDeleteConfirmation = false;
      }
    },
    editReminder(reminder) {
      this.showModal = true;
      this.editMode = true;
      this.selectedReminder = reminder;
    },

    deleteReminder(reminder) {
      this.loading = true;

      axios
        .delete(`${config.VUE_APP_API_URL}/reminder/${reminder.id_reminder}`, {
          headers: {
            Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
          },
        })
        .then((response) => {
          this.getRightReminders();
          this.loading = false;
          this.$refs.toast.showToast("Aula Excluida com sucesso!", "success");
        })
        .catch((error) => {
          this.$refs.toast.showToast("Erro ao excluir aula!", "error");
          this.loading = false;
        });
    },

    formatDate(dateString) {
      const options = {
        year: "numeric",
        month: "long",
        day: "numeric",
      };
      return new Date(dateString).toLocaleDateString("pt-BR", options);
    },
    createAttributes(reminders) {
      this.attributes.value = [];

      reminders.forEach((reminder) => {
        if (reminder.initial_date_reminder && reminder.final_date_reminder) {
          this.attributes.value.push({
            highlight: {
              start: { fillMode: "light", content: "Inicio" },
              end: { fillMode: "light", content: "Fim" },
            },
            dates: {
              start: new Date(reminder.initial_date_reminder),
              end: new Date(reminder.final_date_reminder),
            },
          });
        } else if (reminder.initial_date_reminder) {
          this.attributes.value.push({
            color: "blue",
            dot: true,
            dates: [new Date(reminder.initial_date_reminder)],
          });
        } else if (reminder.final_date_reminder) {
          this.attributes.value.push({
            dot: "red",
            dates: [new Date(reminder.final_date_reminder)],
          });
        }
      });
    },
  },
  mounted() {
    this.isDark = !!getLocalStorageItem("darkMode");
    this.getRightReminders();
  },
  components: {
    Header,
    MenuOptions,
    ConfirmDeleteModal,
    Toast,
    AddReminder,
    Calendar,
    ref,
  },
};
</script>

<style>
.card_reminder {
  background-color: var(--verde-padrao);
  border: 1px solid #000000;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  width: 30%;
  height: 300px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  overflow-x: hidden;
  float: left;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.action-options {
  justify-self: flex-end;
  align-self: flex-end;
  position: sticky;
  top: 0;
  background-color: var(--verde-padrao);
  z-index: 1;
}

.section {
  border-bottom: 1px solid #000000;
  padding: 8px 0;
  width: 100%;
  text-align: center;
}

.date-section {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.date-separator {
  border-left: 1px solid #000000;
  margin: 0 8px;
}

.box-calendar {
  margin-top: 2%;
  z-index: auto;
}

.card-reminder::-webkit-scrollbar {
  width: 8px;
}

.card-reminder::-webkit-scrollbar-track {
  background: transparent;
}

.card-reminder::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}
</style>
