<template>
  <Header title="Aulas" />
  <MenuOptions />

  <div v-if="loading" class="overlay">
    <i class="material-icons loader">cached</i>
  </div>

  <div class="box">
    <div class="box-2">
      <div class="box-2-header">
        <button class="btn-add" @click="showAddClass()">+ Aula</button>
        <AddClass
          :show="showModal"
          :selectedClass="selectedClass"
          @update:show="showModal = $event"
          @class-saved="handleClassSaved"
          :editMode="editMode"
        />
      </div>
      <div class="box-2-body responsive-table-container">
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Valor</th>
              <th>Alunos</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(class_user, index) in classes" :key="index">
              <td>{{ class_user.description_class }}</td>
              <td>{{ class_user.amount_class }}</td>
              <td>
                <div
                  v-html="formatStudentNames(class_user.students_names)"
                ></div>
              </td>
              <td>
                <i
                  class="material-icons action-icon"
                  @click="editClass(class_user)"
                  >edit</i
                >
                <i
                  class="material-icons action-icon"
                  @click="showDeleteModal(class_user)"
                  >delete</i
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <confirm-delete-modal
    :show="showDeleteConfirmation"
    :message="deleteMessage"
    @confirm="confirmDelete"
    @cancel="cancelDelete"
  />
  <toast ref="toast" />
</template>

<script>
import AddClass from "@/components/adds/AddClass.vue";
import Header from "@/components/Header.vue";
import MenuOptions from "@/components/MenuOptions.vue";
import { getLocalStorageItem } from "@/middleware/localStorage";
import "@/assets/main.css";
import axios from "axios";
import config from "@/config.js";
import ConfirmDeleteModal from "@/components/ConfirmDeleteModal.vue";
import Toast from "@/components/Toast.vue";

export default {
  data() {
    return {
      classes: [],
      showModal: false,
      editMode: false,
      editedClass: null,
      selectedClass: null,
      loading: false,
      showDeleteConfirmation: false,
      classToDelete: null,
      deleteMessage: "Tem certeza que deseja excluir a Aula?",
    };
  },
  methods: {
    showAddClass() {
      this.showModal = true;
      this.editMode = false;
      this.selectedClass = null;
    },
    getClasses() {
      //Header com Token JWT de autenticacao
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };
      //Requisicao para listar as classes
      axios
        .get(`${config.VUE_APP_API_URL}/class/all`, Headers)
        .then((response) => {
          this.classes = response.data.model;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    handleClassSaved(sucess) {
      if (sucess) {
        if (!this.editMode) {
          this.$refs.toast.showToast("Aula criada com sucesso!", "success");
        } else {
          this.$refs.toast.showToast("Aula editada com sucesso!", "success");
        }
        this.getClasses();
      }
    },
    editClass(class_user) {
      this.loading = true;
      this.selectedClass = class_user;
      this.editMode = true;
      this.showModal = true;
      this.loading = false;
    },

    showDeleteModal(class_user) {
      this.classToDelete = class_user;
      this.showDeleteConfirmation = true;
    },
    cancelDelete() {
      this.classToDelete = null;
      this.showDeleteConfirmation = false;
    },
    confirmDelete() {
      if (this.classToDelete) {
        this.deleteClass(this.classToDelete);
        this.classToDelete = null;
        this.showDeleteConfirmation = false;
      }
    },
    deleteClass(class_user) {
      this.loading = true;

      axios
        .delete(
          `${config.VUE_APP_API_URL}/class/${class_user.code_class}`,
          {
            headers: {
              Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
            },
          }
        )
        .then((response) => {
          this.getClasses();
          this.classes = response.data.model;
          this.loading = false;
          this.$refs.toast.showToast("Aula Excluida com sucesso!", "success");
        })
        .catch((error) => {
          this.$refs.toast.showToast("Erro ao excluir aula!", "error");
          console.log(error);
          this.loading = false;
        });
    },
    formatStudentNames(names) {
      if (!names) {
        return "Aula não possui aluno cadastrado.";
      }
      const nameArray = names.split(",");
      const formattedNames = nameArray
        .map((name) => {
          return name.trim().replace(/\w\S*/g, (txt) => {
            return (
              txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase() + "."
            );
          });
        })
        .join("<br>");
      return formattedNames;
    },
  },
  mounted() {
    this.getClasses();
  },
  components: {
    Header,
    MenuOptions,
    AddClass,
    ConfirmDeleteModal,
    Toast,
  },
};
</script>

<style>
@media (max-width: 1759px) {
}
</style>
