<template>
  <Header title="Usuários" />
  <MenuOptions />

  <div class="box">
    <div class="box-2">
      <div class="box-2-header">
        <button class="btn-add" @click="showUser">+ Usuário</button>
        <AddUser
          :show="showModal"
          :options="classList"
          @update:show="showModal = $event"
          @user-saved="handleUserSaved"
          :editMode="editMode"
          :user="selectedUser"
        />
      </div>
      <div class="box-2-body responsive-table-container">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Telefone</th>
              <th>Data de Nascimento</th>
              <th>E-mail</th>
              <th>Tipo de Usuário</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(user, index) in users" :key="index">
              <td>{{ user.id_user }}</td>
              <td>{{ user.name_user }}</td>
              <td>{{ user.phone_user }}</td>
              <td>{{ user.birth_date_user }}</td>
              <td>{{ user.email_user }}</td>
              <td>{{ user.type_user }}</td>
              <td>
                <i
                  class="material-icons action-icon"
                  @click="showDeleteModal(user)"
                  >delete</i
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <confirm-delete-modal
    :show="showDeleteConfirmation"
    :message="deleteMessage"
    @confirm="confirmDelete"
    @cancel="cancelDelete"
  />
  <toast ref="toast" />
</template>

<script>
import AddUser from "@/components/adds/AddUser.vue";
import Header from "@/components/Header.vue";
import MenuOptions from "@/components/MenuOptions.vue";
import "@/assets/main.css";
import { getLocalStorageItem } from "@/middleware/localStorage";
import axios from "axios";
import config from "@/config.js";
import ConfirmDeleteModal from "@/components/ConfirmDeleteModal.vue";
import Toast from "@/components/Toast.vue";

export default {
  data() {
    return {
      users: [],
      showModal: false,
      classList: [],
      selectedUser: null,
      editMode: false,
      showDeleteConfirmation: false,
      userToDelete: null,
      deleteMessage: "Tem certeza que deseja excluir o usuário?",
    };
  },
  methods: {
    showUser() {
      //Buscar aulas
      this.getClasses();
      //Abrir modal
      this.showModal = true;
      this.editMode = false;
      this.selectedUser = null;
    },
    getUsers() {
      //Header com Token JWT de autenticacao
      const Headers = {
        headers: { Authorization: `Beaer ${getLocalStorageItem("jwt_token")}` },
      };
      //Requisicao para listar usuarios
      axios
        .get(`${config.VUE_APP_API_URL}/accounts/users`, Headers)
        .then((response) => {
          this.users = response.data.model;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getClasses() {
      //Header com Token JWT de autenticacao
      const Headers = {
        headers: { Authorization: `Beaer ${getLocalStorageItem("jwt_token")}` },
      };
      //Requisicao para listar classes
      axios
        .get(`${config.VUE_APP_API_URL}/class/all`, Headers)
        .then((response) => {
          this.classList = response.data.model;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    handleUserSaved(success) {
      if (success) {
        if (!this.editMode) {
          this.$refs.toast.showToast(
            "Usuario criado com sucesso! A senha para login no sistema foi enviado para o email cadastrado",
            "success"
          );
        } else {
          this.$refs.toast.showToast("Usuario editado com sucesso!", "success");
        }
        this.getUsers();
        this.showModal = false;
      }
    },
    editUser(user) {
      this.selectedUser = user;
      this.editMode = true;
      this.showModal = true;
    },
    showDeleteModal(user) {
      this.userToDelete = user;
      this.showDeleteConfirmation = true;
    },
    cancelDelete() {
      this.userToDelete = null;
      this.showDeleteConfirmation = false;
    },
    confirmDelete() {
      if (this.userToDelete) {
        this.deleteUser(this.userToDelete);
        this.userToDelete = null;
        this.showDeleteConfirmation = false;
      }
    },
    deleteUser(user) {
      //Header com Token JWT de autenticacao
      const Headers = {
        headers: {
          Authorization: `Beaer ${getLocalStorageItem("jwt_token")}`,
          id_user: user.id_user,
        },
      };
      //Requisicao para listar classes
      axios
        .delete(`${config.VUE_APP_API_URL}/accounts/user`, Headers)
        .then((response) => {
          this.$refs.toast.showToast(
            "Usuario excluido com sucesso!",
            "success"
          );
          this.getUsers();
        })
        .catch((error) => {
          this.$refs.toast.showToast("Erro ao excluir usuario!", "error");
          console.log(error);
        });
    },
  },
  mounted() {
    this.getUsers();
  },
  components: {
    Header,
    MenuOptions,
    AddUser,
    ConfirmDeleteModal,
    Toast,
  },
};
</script>
