<template>
  <Header title="Movimentação Financeira" />
  <MenuOptions />

  <div v-if="loading" class="overlay">
    <i class="material-icons loader">cached</i>
  </div>

  <div class="box">
    <div class="box-2-flex">
      <div
        :class="{
          'box-2': true,
          wallet: balancePositive,
          spending: !balancePositive,
        }"
      >
        <div class="box-2-header">
          <span>Saldo: {{ this.balance }}</span>
        </div>
      </div>

      <div class="box-2 wallet-gray">
        <div class="box-2-header">
          <span>Total de Gastos: {{ this.total_expense }}</span>
        </div>
      </div>

      <div class="box-2 wallet-gray">
        <div class="box-2-header">
          <span>Total de Ganhos: {{ this.total_earning }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="box-2">
      <div class="box-2-header">
        <button class="btn-add" @click="showMovement()">+ Movimentação</button>
        <AddMovement
          :show="showModal"
          :selectedMovement="selectedMovement"
          @update:show="showModal = $event"
          @movement-saved="handleMovementSaved"
          :valuesEditedMovement="valuesEditedMovement"
          :editMode="editMode"
        />
      </div>
      <div class="box-2-body responsive-table-container">
        <table class="responsive-table">
          <thead>
            <tr>
              <th>Data</th>
              <th>Descrição</th>
              <th>Valor</th>
              <th>Categoria</th>
              <th>Tipo de Movimentação</th>
              <th>Ações</th>
              <!-- <th>Aluno</th> -->
            </tr>
          </thead>
          <tbody>
            <tr v-for="(movement, index) in movements" :key="index">
              <td id="{{ movement.id }}">{{ movement.dta_movement }}</td>
              <td id="{{ movement.id }}">{{ movement.description_movement }}</td>
              <td id="{{ movement.id }}">{{ movement.ammount_movement }}</td>
              <td id="{{ movement.id }}">{{ movement.category_movement }}</td>
              <td id="{{ movement.id }}">{{ !!movement.flg_gasto ? "Gasto" : "Ganho" }}</td>
              <td id="{{ movement.id }}">
                <i
                  class="material-icons action-icon"
                  @click="editMovement(movement)"
                  >edit</i
                >
                <i
                  class="material-icons action-icon"
                  @click="showDeleteModal(movement)"
                  >delete</i
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <confirm-delete-modal
    :show="showDeleteConfirmation"
    :message="deleteMessage"
    @confirm="confirmDelete"
    @cancel="cancelDelete"
  />
  <toast ref="toast" />
</template>

<script>
import AddMovement from "@/components/adds/AddMovement.vue";
import Header from "@/components/Header.vue";
import MenuOptions from "@/components/MenuOptions.vue";
import { formatMoeda } from "@/utils/String_Formatter";
import { getLocalStorageItem } from "@/middleware/localStorage";
import "@/assets/main.css";
import axios from "axios";
import config from "@/config.js";
import ConfirmDeleteModal from "@/components/ConfirmDeleteModal.vue";
import Toast from "@/components/Toast.vue";

export default {
  data() {
    return {
      movements: [],
      showModal: false,
      editMode: false,
      editedMovement: null,
      selectedMovement: null,
      balancePositive: false,
      balance: "0",
      total_earning: "0",
      total_expense: "0",
      valuesEditedMovement: null,
      loading: false,
      showDeleteConfirmation: false,
      movimentationToDelete: null,
      deleteMessage:
        "Tem certeza que deseja excluir a movimentação financeira?",
    };
  },
  methods: {
    showMovement() {
      this.showModal = true;
      this.editMode = false;
      this.selectedMovement = null;
    },
    getMovements() {
      //Header com Token JWT de autenticacao
      const Headers = {
        headers: { Authorization: `Beaer ${getLocalStorageItem("jwt_token")}` },
      };
      //Requisicao para listar as movimentacoes financeiras
      axios
        .get(`${config.VUE_APP_API_URL}/financial/movements`, Headers)
        .then((response) => {
          this.movements = response.data.model;
          console.log(this.movements);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getBalance() {
      //Header com Token JWT de autenticacao
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };
      //Requisicao para buscar o balanco mensal
      axios
        .get(`${config.VUE_APP_API_URL}/financial/getBalance/`, Headers)
        .then((response) => {
          const balanceValue = parseFloat(response.data.model.balance);
          this.balance = formatMoeda(balanceValue);
          this.total_earning = formatMoeda(response.data.model.total_earning);
          this.total_expense = formatMoeda(response.data.model.total_expense);
          this.balancePositive = balanceValue >= 0;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    handleMovementSaved(success) {
      if (success) {
        const balancePromise = this.getBalance();
        const movementsPromise = this.getMovements();

        // Aguarda ambas as promessas serem resolvidas antes de esconder o modal
        Promise.all([balancePromise, movementsPromise])
          .then(() => {
            // Ambas as promessas foram resolvidas, pode esconder o modal
            if (!this.editMode) {
              this.$refs.toast.showToast(
                "Movimentação financeira criada com sucesso!",
                "success"
              );
            } else {
              this.$refs.toast.showToast(
                "Movimentação financeira editada com sucesso!",
                "success"
              );
            }
            this.showModal = false;
          })
          .catch((error) => {
            if (!this.editMode) {
              this.$refs.toast.showToast(
                "Erro ao criar movimentação financeira!",
                "error"
              );
            } else {
              this.$refs.toast.showToast(
                "Erro ao editar movimentação financeira!",
                "error"
              );
            }
            console.error("Erro ao atualizar os dados:", error);
            this.showModal = false; // Em caso de erro, esconde o modal de qualquer forma
          });
      }
    },
    showDeleteModal(notification) {
      this.movimentationToDelete = notification;
      this.showDeleteConfirmation = true;
    },
    cancelDelete() {
      this.movimentationToDelete = null;
      this.showDeleteConfirmation = false;
    },
    confirmDelete() {
      if (this.movimentationToDelete) {
        this.deleteMovement(this.movimentationToDelete);
        this.movimentationToDelete = null;
        this.showDeleteConfirmation = false;
      }
    },
    editMovement(movement) {
      this.loading = true;
      this.valuesEditedMovement = movement;
      this.selectedMovement = movement;
      this.showModal = true;
      this.editMode = true;
      this.loading = false;
    },
    deleteMovement(movement) {
      this.loading = true;

      axios
        .delete(
          `${config.VUE_APP_API_URL}/financial/movement/${movement.id_movement}`,
          {
            headers: {
              Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
            },
          }
        )
        .then((response) => {
          const balancePromise = this.getBalance();
          const movementsPromise = this.getMovements();

          // Aguarda ambas as promessas serem resolvidas antes de esconder o loader
          Promise.all([balancePromise, movementsPromise])
            .then(() => {
              this.$refs.toast.showToast(
                "Movimentação financeira excluida com sucesso!",
                "success"
              );
              this.movements = response.data.model; // Atualiza a lista de movimentações
              this.loading = false; // Esconde o loader
            })
            .catch((error) => {
              this.$refs.toast.showToast(
                "Erro ao excluir movimentação financeira",
                "error"
              );
              console.error("Erro ao atualizar os dados:", error);
              this.loading = false; // Em caso de erro, esconde o loader de qualquer forma
            });
        })
        .catch((error) => {
          console.log(error);
          this.loading = false;
        });
    },
  },
  mounted() {
    this.getMovements();
    this.getBalance();
  },
  components: {
    Header,
    MenuOptions,
    AddMovement,
    ConfirmDeleteModal,
    Toast,
  },
};
</script>

<style>
.action-icon {
  margin-right: 8px;
  cursor: pointer;
  color: rgb(40, 39, 39);
}

.action-icon:hover {
  color: rgb(99, 98, 98);
}

.box-2-flex {
  display: flex;
  width: 100%;
  justify-content: start;
  padding-top: 10px;
}

.wallet-gray {
  margin-right: 2%;
}

.wallet {
  margin-right: 2%;
  background-color: var(--verde-padrao);
  color: white;
}

.spending {
  margin-right: 2%;
  background-color: var(--vermelho);
  color: white;
}

.responsive-table-container {
  overflow-x: auto;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.responsive-table th,
.responsive-table td {
  width: auto;
}

@media (max-width: 1759px) {
  .box {
    margin-left: 3%;
    width: 95%;
  }
}

.loader {
  font-size: 24px;
  /* Ajuste o tamanho conforme necessário */
  animation: spin 1s linear infinite;
  /* Adicione uma animação de rotação */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Cor escura com transparência */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Z-index alto para garantir que esteja na frente de outros elementos */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
</style>
