<template>
    <div class="container-not-found">
        <img class="logo-not-found" src="@/components/icons/logo.svg">

        <img src="@/components/icons/carinha-triste.svg" alt="Ícone" />
        <h2 style="font-size: 59px; margin-bottom: -5px; margin-top: 15px; color: var(--roxo)">404</h2>
        <h1 >Página não encontrada</h1>
        <p>A página que você está procurando não foi encontrada.</p>
        <ButtonLoginCreate
            class="btn btn-second"
            text="Voltar"
            @click="voltarParaLogin"
        />
    </div>
</template>
  
<script>
import ButtonLoginCreate from "@/components/buttons/ButtonLoginCreate.vue";

export default {
    name: 'NotFound',
    components: {
        ButtonLoginCreate,
    },
    methods: {
        voltarParaLogin() {
            this.$router.push({ path: '/' }); 
        }
    }
};
</script>

<style>
body {
    background-color: var(--cinza-claro);
}

.container-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; 
  text-align: center; 
}

.logo-not-found {
    width: 60px;
    position: absolute;
    top: 20px; 
    left: 100px;
}
</style>
  