<template>
  <Header title="Notificações" />
  <MenuOptions />

  <div class="box">
    <div class="box-2">
      <div class="box-2-body responsive-table-container">
        <table class="responsive-table">
          <thead>
            <tr>
              <th>Mensagem</th>
              <th>Data</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(notification, index) in notifications"
              :key="index"
              :class="notificationClass(notification.dta_notification)"
            >
              <td>{{ notification.message_notification }}</td>
              <td>
                {{ formatDate(notification.dta_notification) }}
              </td>
              <td>
                <i
                  class="material-icons action-icon"
                  @click="showDeleteModal(notification)"
                  >delete</i
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <confirm-delete-modal
    :show="showDeleteConfirmation"
    :message="deleteMessage"
    @confirm="confirmDelete"
    @cancel="cancelDelete"
  />
  <toast ref="toast" />
</template>

<script>
import Header from "@/components/Header.vue";
import MenuOptions from "@/components/MenuOptions.vue";
import { getLocalStorageItem } from "@/middleware/localStorage";
import "@/assets/main.css";
import axios from "axios";
import config from "@/config.js";
import ConfirmDeleteModal from "@/components/ConfirmDeleteModal.vue";
import Toast from "@/components/Toast.vue";

export default {
  data() {
    return {
      notifications: [],
      showDeleteConfirmation: false,
      notificationToDelete: null,
      deleteMessage: "Tem certeza que deseja excluir a notificação?",
    };
  },
  methods: {
    isSameDate(date1, date2) {
      return (
        date1.getFullYear() === date2.getFullYear() &&
        date1.getMonth() === date2.getMonth() &&
        date1.getDate() === date2.getDate()
      );
    },

    notificationClass(isoDate) {
      const notificationDate = new Date(isoDate);
      const currentDate = new Date();
      const oneWeekAhead = new Date(currentDate);
      oneWeekAhead.setDate(currentDate.getDate() + 7);

      if (this.isSameDate(notificationDate, currentDate)) {
        return "notification-today";
      } else if (notificationDate < currentDate) {
        return "notification-overdue";
      } else if (notificationDate <= oneWeekAhead) {
        return "notification-close";
      } else {
        return "notification-far";
      }
    },
    formatDate(isoDate) {
      const date = new Date(isoDate);
      const day = date.getUTCDate().toString().padStart(2, "0");
      const month = (date.getUTCMonth() + 1).toString().padStart(2, "0");
      const year = date.getUTCFullYear();

      return `${day}/${month}/${year}`;
    },
    getNotifications() {
      const Headers = {
        headers: {
          Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
        },
      };
      axios
        .get(
          `${config.VUE_APP_API_URL}/notification/${getLocalStorageItem(
            "id_user"
          )}`,
          Headers
        )
        .then((response) => {
          this.notifications = response.data.model;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    showDeleteModal(notification) {
      this.notificationToDelete = notification;
      this.showDeleteConfirmation = true;
    },
    cancelDelete() {
      this.notificationToDelete = null;
      this.showDeleteConfirmation = false;
    },
    confirmDelete() {
      if (this.notificationToDelete) {
        this.deleteNotification(this.notificationToDelete);
        this.notificationToDelete = null;
        this.showDeleteConfirmation = false;
      }
    },

    deleteNotification(notification) {
      axios
        .delete(
          `${config.VUE_APP_API_URL}/notification/${notification.id_notification}`,
          {
            headers: {
              Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
            },
          }
        )
        .then((response) => {
          this.$refs.toast.showToast(
            "Notificação excluida com sucesso!",
            "success"
          );
          this.getNotifications();
        })
        .catch((error) => {
          this.$refs.toast.showToast("Erro ao excluir notificação!", "error");
          console.log(error);
        });
    },
  },
  mounted() {
    this.getNotifications();
  },
  components: {
    Header,
    MenuOptions,
    ConfirmDeleteModal,
    Toast,
  },
};
</script>
<style>
.box-2-flex {
  display: flex;
  width: 100%;
  justify-content: start;
  padding-top: 10px;
}

.responsive-table-container {
  overflow-x: auto;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.responsive-table th,
.responsive-table td {
  width: auto;
}

.notification-overdue {
  background-color: var(--vermelho);
}

.notification-today {
  background-color: rgb(255, 128, 78);
}

.notification-close {
  background-color: rgb(230, 154, 31);
}

.notification-far {
  background-color: #58af9bc0;
}

@media (max-width: 1759px) {
  .box {
    margin-left: 3%;
    width: 95%;
  }
}
</style>
