<template>
  <div class="modal_geral" v-if="show">
    <div class="caixa">
        <p>{{ message }}</p>
      <div class="inner-caixa">
        <button class="botao btn-cancel" @click="cancelDelete">Cancelar</button>
        <button class="botao btn-confirm" @click="confirmDelete">Confirmar</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    show: Boolean,
    message: String,
  },
  methods: {
    confirmDelete() {
      this.$emit("confirm");
    },
    cancelDelete() {
      this.$emit("cancel");
    },
  },
};
</script>

<style>
.modal_geral {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.caixa {
  flex-direction: column;
  width: 30%;
  height: 175px;
  padding: 25px;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  background-color: var(--degrade);
  margin: 50px auto;
  overflow-x: auto;
  color: var(--cinza-claro-permanente);
}

.inner-caixa {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  margin: auto;
}

.botao {
  margin-top: 50px;
  padding: 15px 25px 15px 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border:none;
  border-radius: 15px;
}

.btn-cancel{
  margin-right: 5px;
  background-color: #ffffff00;
  border: 1px solid var(--cinza-claro-permanente);
  color: var(--cinza-claro-permanente);
}

.btn-cancel:hover{
  background-color: var(--verde-padrao);
}

.btn-confirm{
  margin-left: 5px;
  background-color: var(--vermelho);
  color: var(--cinza-claro-permanente);
  border: 1px solid var(--vermelho);
}

.btn-confirm:hover{
  background-color: var(--roxo) ;
}
</style>
