<template>
  <div class="header">
    <div class="icon-left" :class="{ 'hide-icon': !shouldShowIcon }">
      <img src="@/components/icons/logo.svg">
    </div>
    <div class="page-title">
      <h1>{{ title }}</h1>
    </div>
    <div class="right card">
      <select class="label-config label-options font-family" @change="handleNavigation">
        <option disabled selected value="">Olá, {{ nome }}</option>
        <option value="/perfil">Perfil</option>
        <option value="/">Sair</option>
      </select>
    </div>
  </div>
</template>

<script>
import { getLocalStorageItem } from "@/middleware/localStorage";

export default {
  name: "Header",
  props: {
    title: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      nome: getLocalStorageItem("name_user") || "NOME_USUARIO",
      shouldShowIcon: true,
    };
  },
  mounted() {
    this.shouldShowIcon = window.innerWidth >= 1500;
    window.addEventListener("resize", this.handleResize);
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.handleResize);
  },
  methods: {
    handleNavigation(event) {
      const page = event.target.value;
      if (page) {
        if (page == "/") {
          localStorage.clear();
        }
        this.navigateTo(page);
      }
    },
    navigateTo(page) {
      this.$router.push(page);
    },
    handleResize() {
      this.shouldShowIcon = window.innerWidth >= 1500;
    }
  },
};
</script>

<style>
.label-config {
  background-color: var(--cinza-padrao);
  display: flex;
  align-items: center;
  width: 100%;
  margin: 2px;
}

.label-options {
  font-size: 15px;
  padding: 2%;
  border: none;
}

.hide-icon {
  display: none;
}

.font-family {
  font-family: 'Montserrat', sans-serif;
}
</style>
