<template>
    <div>
        <div class="hamburger-icon" v-if="shouldShowHamburger" @click="toggleMenu">
            <i class="material-icons">{{ isMenuOpen ? 'arrow_back' : 'menu' }}</i>
        </div>
        <div ref="menuContainer" :class="[menuClass, { 'active': isMenuOpen || !shouldShowHamburger, 'inactive': !isMenuOpen && shouldShowHamburger }]">            
            <div class="menu-header">
                <img class="icon-logo" src="@/components/icons/logo.svg">
            </div>
            <div v-for="(item, index) in menuItems" :key="index" class="menu-item" @click="navigateTo(item.route_name)">
                <img :src="item.src_menu" class="icons" />
                <span class="menu-item-text font">{{ item.text_menu }}</span>
            </div>
        </div>
        <div class="hamburger-icon" v-if="!isMenuOpen" @click="toggleMenu">
            <i class="material-icons">menu</i>
        </div>
    </div>
</template>

<script>
import '../assets/main.css';
import { getLocalStorageItem } from "@/middleware/localStorage"

export default {
    name: "MenuOptions",
    data() {
        return {
            menuItems: getLocalStorageItem("menu_itens"),
            isMenuOpen: false,
            shouldShowHamburger: window.innerWidth < 1759,
            // menuClass: '',
        };
    },
    watch: {
        shouldShowHamburger(newVal) {
            if (newVal) {
            this.menuClass = 'side-menu';
            } else {
            this.menuClass = 'responsive-menu';
            }
        }
    },
    computed: {
        menuClass() {
            return this.shouldShowHamburger ? 'responsive-menu' : 'side-menu';
        },
    },
    mounted() {
        window.addEventListener("resize", this.handleResize);
    },
    beforeDestroy() {
        window.removeEventListener("resize", this.handleResize);
    },
    methods: {
        navigateTo(routeName) {
            this.$router.push({ name: routeName });
        },
        toggleMenu() {
            this.isMenuOpen = !this.isMenuOpen;
        },
        handleResize() {
            this.shouldShowHamburger = window.innerWidth < 1760;
        }
    }
};
</script>

<style scoped>
.hamburger-icon {
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.menu-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px; 
    background-color: var(--cinza-claro);
    /* border-bottom: 1px solid #ddd; */
}

.menu-title {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.responsive-menu {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    background-color: var(--cinza-claro);
    transition: left 0.3s ease-in-out;
    z-index: 0;
}

.active {
    left: 0;
}

.icon-logo{
    position: absolute;
    width: 17%;
    margin: 2% 10% 0 0;
    height: 15%;
}

@media (min-width: 1760px) {
    .hamburger-icon {
        display: none;
    }
    
    .responsive-menu {
        display: none;
    }

    .menu-header {
        display: none;
    }
}
</style>


