<template>
    <h2 :class="class_title">{{ text_title }}</h2>
    <p :class="class_p">{{ text_p }}</p>
</template>

<script>
import '../assets/login/button.css';

export default {
    props:
    {
        text_title: {
            type: String,
            required: true
        },
        class_title: {
            type: String,
            required: true
        },
        text_p: {
            type: String,
            required: false
        },
        class_p: {
            type: String,
            required: false
        }
    }
}
</script>