<template>
  <div v-if="message" class="toast" :class="toastType">
    <p>{{ message }}</p>
    <span class="close-toast" @click="hideToast">
      <i class="material-icons">close</i>
    </span>
  </div>
</template>

<script>
export default {
  data() {
    return {
      message: "",
      toastType: "",
    };
  },
  methods: {
    showToast(message, type) {
      this.message = message;
      this.toastType = type;

      setTimeout(() => {
        this.hideToast();
      }, 3000);
    },
    hideToast() {
      this.message = "";
      this.toastType = "";
    },
  },
};
</script>

<style scoped>
.toast {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  z-index: 1000;
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.close-toast {
  border-radius: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.success {
  background-color: var(--verde-padrao);
}

.error {
  background-color: var(--vermelho);
}
</style>
