.content {
    background-color: var(--cinza-claro);
    height: 100%;
    width: 100%;
}

.content::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    background: linear-gradient(-45deg, var(--roxo), var(--verde-padrao), var(--roxo));
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.first-content {
    display: flex;
}

.first-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  z-index: 10;
  padding-top: 5%;
}

.second-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding-top: 5%;
}

/* CSS - INPUT */ 
.form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.form input {
  height: 55px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: var(--cinza-padrao);
}

/* input:-webkit-autofill {    
    -webkit-box-shadow: 0 0 0px 1000px var(--cinza-padrao) inset !important;
    -webkit-text-fill-color: #000 !important;
} */

/* CSS - LOGO */ 
.logo {
  margin-top: -100px;
  margin-bottom: 25px;
  width: 15%;
  height: 15%;
}

/* CSS - ESQUECI A SENHA */ 
.password-login {
  color: #34495e;
  font-size: 20px;
  margin: 15px 0;
  text-align: center;
}

/* CSS - ICON DE OLHO */ 
.eye-icon-container {
  position: relative;
  display: flex;
  align-items: center;
}

.eye-icon-hidden {
  opacity: 0.6;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  width: 30px;
  cursor: pointer;
}

.password-input-container {
  position: relative;
}

.password-input-container .eye-icon-container {
  position: absolute;
  top: 50%;
  right: 22%;
  transform: translateY(-50%);
}

.password-input-container .eye-icon {
  width: 30px;
}

.show-password .input-container input[type="password"] {
  display: none;
}

.show-password .input-container input[type="text"] {
  display: block;
}

/* Media queries para aplicativos mobile */

@media only screen and (max-width: 671px) {
  .content {
    overflow: hidden;
  }

  .content::before {
    content: none;
  }

  .hide-mobile {
    display: none;
  }

  .first-content {
    flex-wrap: wrap;
  }

  .second-column {
    width: 100%;
    padding-top: 5%;
  }

  .logo {
    margin-top: -60%;
    width: 95%;
    height: 15%;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  
  .form input {
    height: 50px;
    font-size: 18px;
  }

  .password-input-container .eye-icon-container {
    right: 10%;
  }
  
}

@media only screen and (min-width: 671px) and (max-width: 750px) {
  .content {
    overflow: hidden;
  }

  .content::before {
    content: none;
  }

  .hide-mobile {
    display: none;
  }

  .first-content {
    flex-wrap: wrap;
  }

  .second-column {
    width: 100%;
    padding-top: 5%;
  }

  .logo {
    margin-top: -70%;
    width: 95%;
    height: 15%;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  
  .form input {
    height: 45px;
    font-size: 20px;
  }

  .content {
    overflow: hidden;
  }

  .content::before {
    content: none;
  }

  .hide-mobile {
    display: none;
  }

  .first-content {
    flex-wrap: wrap;
  }

  .second-column {
    width: 100%;
    padding-top: 5%;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .password-input-container .eye-icon-container {
    right: 10%;
  }
}

@media only screen and (min-width: 751px) and (max-width: 1010px) {
  .content {
    overflow: hidden;
  }

  .content::before {
    content: none;
  }

  .hide-mobile {
    display: none;
  }

  .first-content {
    flex-wrap: wrap;
  }

  .password-login {
    color: #34495e;
    font-size: 25px;
    margin: 15px 0;
    text-align: center;
  }

  .second-column {
    width: 100%;
    padding-top: 5%;
  }

  .logo {
    margin-top: -60%;
    width: 90%;
    height: 15%;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  
  .form input {
    height: 70px;
    font-size: 26px;
  }

  .password-input-container .eye-icon {
    width: 40px;
  }

  .password-input-container .eye-icon-container {
    right: 8%;
  }
}

@media only screen and (min-width: 1011px) and ( max-width: 1500px) {
  .logo
  {
    margin-top: 5%;
  }
  
}