@import './base.css';
@import './login/button.css';
@import './login/login.css';
@import './text.css';
@import './perfil/user_perfil.css';
@import './perfil/menu_options.css';
@import './perfil/header.css';
@import './perfil/card_alert.css';
@import './financial_movement/movement.css';

html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --cinza-padrao: #ecf0f1;
    --verde-padrao: #58AF9B;
    --verde-padrao-hover: #33534b;
    --roxo: #A41247;
    --degrade: #4C5150;
    --cinza-escuro: #7f8c8d;
    --cinza-claro: #fff;
    --cinza-claro-permanente: #fff;
    --vermelho: rgb(188, 41, 41);
    --amarelo: #c4a921;
    --amarelo-hover: #bb9c00;

}

[data-theme='dark'] {
    --cinza-padrao: #434343;
    --verde-padrao: #33534b;
    --verde-padrao-hover: #1dab8a;
    --roxo: #A41247;
    --degrade: #4C5150;
    --cinza-escuro: #bdc3c7; 
    --cinza-claro: #333435; 
    --cinza-claro-permanente: #fff;
    --vermelho: rgb(188, 41, 41);
    --amarelo: #bb9c00;
    --amarelo-hover: #c4a921;
}

[data-theme='dark'] body,
[data-theme='dark'] p,
[data-theme='dark'] a,
[data-theme='dark'] h1,
[data-theme='dark'] h2,
[data-theme='dark'] h3,
[data-theme='dark'] h4,
[data-theme='dark'] h5,
[data-theme='dark'] th,
[data-theme='dark'] i,
[data-theme='dark'] span,
[data-theme='dark'] div,
[data-theme='dark'] select,
[data-theme='dark'] option,
[data-theme='dark'] input,
[data-theme='dark'] button,
[data-theme='dark'] h6 {
  color: white !important;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: var(--cinza-padrao);
}

.label-input {
    background-color: var(--cinza-padrao);
    display: flex;
    align-items: center;
    width: 100%;
    margin: 8px;
    margin-right: 250px;
}

.label-select {
    font-size: 20px;
    height: 65px;
    padding: 2%;
    padding-left: 50px;
    border: none;
    width: 100%;
}

.label-category {
    font-size: 20px;
    height: 80px;
    padding: 2%;
    padding-left: 50px;
    border: none;
    margin-left: 21%;
    width: 60%;
}


.icon-container {
    position: absolute;
    transform: translateX(3000%);
    cursor: pointer;
}

.icon-user {
    width: 150px;
    saturate: 30%;
}

.icon {
    width: 50px;
}

.text-obrigatorio{
    color: #7b7e7d;
}