<template>
  <div class="container">
    <div v-if="loading" class="overlay">
      <i class="material-icons loader">cached</i>
    </div>
    <div class="content first-content">
      <div class="first-column">
        <TitleText
          class_title="title title-primary hide-mobile"
          text_title="Recuperar Senha."
          class_p="description description-primary hide-mobile"
          text_p="Preencha o campo necessario com seu email para que você consiga utilizar novamente o sistema :)"
        />
      </div>
      <div class="second-column">
        <img class="logo" src="@/components/icons/logo.svg" />
        <h2 class="title title-second">Recuperar Senha</h2>
        <form class="form" @click.prevent="handleSubmit()">
          <input-component
            type="text"
            placeholder="E-mail"
            :value="email"
            @input="email = $event?.target?.value"
            ref="emailInput"
          />
          <ButtonForgotPasswordCreate
            class="btn btn-second"
            text="Enviar Email"
            @click.prevent="forgot_password"
            type="submit"
          />
          <button
            class="btn btn-second"
            style="margin-top: 65%"
            @click.prevent="goBack"
          >
            Voltar
          </button>
        </form>
        <AlertMessage :showCondition="showError.state" :text="showError.text" />
      </div>
    </div>
  </div>
  <toast ref="toast" />
</template>

<script>
import "@/assets/main.css";
import InputComponent from "@/components/inputs/InputComponent.vue";
import ButtonForgotPasswordCreate from "@/components/buttons/ButtonForgotPasswordCreate.vue";
import TitleText from "@/components/TitleText.vue";
import AlertMessage from "@/components/alerts/AlertMessage.vue";
import axios from "axios";
import config from "@/config.js";
import Toast from "@/components/Toast.vue";

export default {
  components: {
    InputComponent,
    ButtonForgotPasswordCreate,
    TitleText,
    AlertMessage,
    Toast,
  },
  data() {
    return {
      showError: {
        state: false,
        text: "",
      },
      email: "",
      loading: false,
    };
  },
  methods: {
    forgotPassword() {
      const required = this.email.trim() === "";

      if (!required) {
        this.loading = true;
        let body = { email: this.email };
        axios
          .post(`${config.VUE_APP_API_URL}/forgotPassword/sendMail`, body)
          .then((response) => {
            this.$refs.toast.showToast(
              "Verifique seu email para continuar a recuperação de senha!",
              "success"
            );
            this.email = "";
          })
          .catch((error) => {
            this.$refs.toast.showToast(
              "Email incorreto, por favor tente novamente!",
              "error"
            );
          })
          .finally(() => {
            this.loading = false;
          });
      } else {
        this.showError.state = true;
        this.showError.text =
          "Preencha o campo E-mail corretamente e tente novamente.";
        setTimeout(() => {
          this.showError.state = false;
        }, 5000);
      }
    },
    navigateTo(page) {
      this.$router.push(`/${page}`);
    },
    goBack() {
      this.navigateTo("");
    },
    handleSubmit(event) {
      const required = this.email.trim() === "";
      if (!required) {
        this.forgotPassword();
      } else {
        this.showError.state = true;
        this.showError.text =
          "Preencha o campo E-mail corretamente e tente novamente.";
        setTimeout(() => {
          this.showError.state = false;
        }, 5000);
      }
    },
  },
};
</script>
