<template>
  <div class="container">
    <div class="content first-content">
      <div class="first-column">
        <TitleText
          class_title="title title-primary hide-mobile"
          text_title="Bem-vindo de volta"
          class_p="description description-primary hide-mobile"
          text_p="Que bom te ver de novo, seja bem vindo de volta :)"
        />
      </div>
      <div class="second-column">
        <img class="logo" src="@/components/icons/logo.svg" />
        <h2 class="title title-second">Login</h2>

        <form class="form" @submit.prevent="handleSubmit">
          <div class="input-container">
            <input-component
              type="email"
              placeholder="E-mail"
              :value="email"
              @input="email = $event?.target?.value"
              ref="emailInput"
            />
          </div>

          <div class="input-container password-input-container">
            <input-component
              type="password"
              placeholder="Senha"
              v-model="password"
              @input="password = $event?.target?.value"
              ref="passwordInput"
            />
            <div class="eye-icon-container">
              <img
                v-if="showPasswordImage"
                class="eye-icon"
                src="@/components/icons/olho.svg"
                alt="Hide Password"
                @click="togglePasswordVisibilityImage"
              />
              <img
                v-else
                class="eye-icon eye-icon-hidden"
                src="@/components/icons/olho_bloqueado.svg"
                alt="Show Password"
                @click="togglePasswordVisibilityImage"
              />
            </div>
          </div>

          <a
            @click="navigateTo('esqueci_senha')"
            class="password-login"
            href="/esqueci_senha"
            >Esqueceu sua senha?</a
          >

          <ButtonLoginCreate
            class="btn btn-second"
            text="Login"
            type="submit"
          />
        </form>
        <AlertMessage :showCondition="showError.state" :text="showError.text" />
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/main.css";
import InputComponent from "@/components/inputs/InputComponent.vue";
import AlertMessage from "@/components/alerts/AlertMessage.vue";
import ButtonLoginCreate from "@/components/buttons/ButtonLoginCreate.vue";
import TitleText from "@/components/TitleText.vue";
import axios from "axios";
import jwtDecode from "vue-jwt-decode";
import { setLocalStorageItem } from "@/middleware/localStorage";
import config from '@/config.js';

//ICONS MENU
import grafico from "@/components/icons/grafico.svg";
import wallet from "@/components/icons/carteira.svg";
import movements from "@/components/icons/dinheiro.svg";
import calendar from "@/components/icons/calendario.svg";
import notifications from "@/components/icons/notificacoes.svg";
import usuarios from "@/components/icons/usuarios.svg";
import mensalidade from "@/components/icons/mensalidade.svg";
import aulas from "@/components/icons/aula.svg";
import competicoes from "@/components/icons/competicoes.svg";

export default {
  components: {
    InputComponent,
    ButtonLoginCreate,
    TitleText,
    AlertMessage,
  },
  data() {
    return {
      email: "",
      password: "",
      isValidEmail: true,
      showPassword: false,
      showPasswordImage: false,
      showError: {
        state: false,
        text: "",
      },
    };
  },
  computed: {
    blankFields() {
      if (this.email.trim() === "" || this.password.trim() === "") {
        return true;
      }
      return false;
    },
  },
  methods: {
    login() {
      if (this.validateEmail(this.email)) {
        let body = { email: this.email, password: this.password };
        //Req de Login
        axios
          .post(`${config.VUE_APP_API_URL}/accounts/login`, body)
          .then((response) => {
            if (response.data.success) {
              //Armazenando JWT
              setLocalStorageItem(
                "jwt_token",
                response.data.model.authoriztion
              );
              //Decodificando JWT
              const decodedToken = jwtDecode.decode(
                response.data.model.authoriztion
              );
              //Armazeando infos Login
              setLocalStorageItem("name_user", decodedToken.name_user);
              setLocalStorageItem("id_user", decodedToken.id_user);
              setLocalStorageItem("email_user", decodedToken.email_user);
              setLocalStorageItem("cpf_user", decodedToken.cpf_user);
              setLocalStorageItem(
                "birth_date_user",
                decodedToken.birth_date_user
              );
              setLocalStorageItem("phone_user", decodedToken.phone_user);
              //Definindo tipo de User
              if (!!decodedToken.flg_adm) {
                setLocalStorageItem("type_user", 2);
              } else if (!!decodedToken.flg_employee) {
                setLocalStorageItem("type_user", 1);
              } else {
                setLocalStorageItem("type_user", 0);
              }
              //Atribuindo icons ao retorno de menus
              let menuItens = response.data.model.menuItems;
              menuItens.forEach((menu) => {
                //src_menu
                switch (menu.src_menu) {
                  case "grafico":
                    menu.src_menu = grafico;
                    break;
                  case "wallet":
                    menu.src_menu = wallet;
                    break;
                  case "movements":
                    menu.src_menu = movements;
                    break;
                  case "calendar":
                    menu.src_menu = calendar;
                    break;
                  case "notifications":
                    menu.src_menu = notifications;
                    break;
                  case "usuarios":
                    menu.src_menu = usuarios;
                    menu.routeName;
                    break;
                  case "mensalidade":
                    menu.src_menu = mensalidade;
                    break;
                  case "aulas":
                    menu.src_menu = aulas;
                    break;
                  case "competicoes":
                    menu.src_menu = competicoes;
                    break;
                  default:
                    break;
                }
              });
              //Armazenando menus no LocalStorage
              setLocalStorageItem("menu_itens", menuItens);

              //Navegar para tela de Perfil
              this.navigateTo("perfil");
            } else {
              this.showError.state = true;
              this.showError.text =
                "E-mail ou senha incorretos. Por favor, tente novamente";
              setTimeout(() => {
                this.showError.state = false;
              }, 5000);
            }
          })
          .catch((error) => {
            this.showError.state = true;
            this.showError.text =
              "E-mail ou senha incorretos. Por favor, tente novamente";
            console.log(error);

            setTimeout(() => {
              this.showError.state = false;
            }, 5000);
          });
      } else {
        this.showError.state = true;
        this.showError.text =
          "E-mail ou senha incorretos. Por favor, tente novamente";
        setTimeout(() => {
          this.showError.state = false;
        }, 5000);
      }
    },
    navigateTo(page) {
      this.$router.push(`/${page}`);
    },

    handleSubmit(event) {
      if (!this.blankFields) {
        this.login();
      } else {
        this.showError.state = true;
        this.showError.text = "Preencha todos os campos";
        setTimeout(() => {
          this.showError.state = false;
        }, 5000);
      }
    },
    validateEmail() {
      const emailRegex = /^[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/;
      this.isValidEmail = emailRegex.test(this.email);
      if (!this.isValidEmail) {
        this.showError.state = true;
        this.showError.text =
          "E-mail deve estar no formato 'nome_usuario@dominio.com'";
        setTimeout(() => {
          this.showError.state = false;
        }, 5000);
        return false;
      }
      return true;
    },
    togglePasswordVisibilityImage() {
      this.showPassword = !this.showPassword;
      this.showPasswordImage = !this.showPasswordImage;

      const input = this.$refs.passwordInput.$el.querySelector("input");
      if (input) {
        input.type = this.showPassword ? "text" : "password";
      }
    },
  },
};
</script>
