<template>
  <div class="container">
    <div class="content first-content">
      <div class="first-column">
        <TitleText
          class_title="title title-primary"
          text_title="Esqueceu sua senha."
          class_p="description description-primary"
          text_p="Registre uma nova senha, não vá esquece-la dessa vez :)"
        />
      </div>
      <div class="second-column">
        <img class="logo" src="../../components/icons/logo.svg" />
        <h2 class="title title-second">Esqueceu sua senha</h2>
        <form class="form" @click.prevent="handleSubmit()">
          <input-component
            type="password"
            placeholder="Nova Senha"
            v-model="password"
            @input="password = $event?.target?.value"
            ref="passwordInput"
          />

          <input-component
            type="password"
            placeholder="ConfirmarSenha*"
            v-model="confirmPassword"
            @input="confirmPassword = $event?.target?.value"
            ref="confirmPasswordInput"
          />

          <input-component
            type="text"
            placeholder="Token enviado no email*"
            :value="token"
            @input="token = $event?.target?.value"
            ref="emailInput"
          />

          <ButtonResetPasswordCreate
            class="btn btn-second"
            text="Registrar nova senha"
            @click.prevent="handleSubmit()"
            type="submit"
          />

          <button class="btn btn-second" @click.prevent="goBack">Voltar</button>
        </form>

        <AlertMessage :showCondition="showError.state" :text="showError.text" />
      </div>
    </div>
  </div>
  <toast ref="toast" />
</template>

<script>
import "@/assets/main.css";
import InputComponent from "@/components/inputs/InputComponent.vue";
import ButtonResetPasswordCreate from "@/components/buttons/ButtonResetPasswordCreate.vue";
import AlertMessage from "@/components/alerts/AlertMessage.vue";
import TitleText from "@/components/TitleText.vue";
import axios from "axios";
import config from "@/config.js";
import Toast from "@/components/Toast.vue";

export default {
  components: {
    InputComponent,
    ButtonResetPasswordCreate,
    TitleText,
    AlertMessage,
    Toast,
  },
  data() {
    return {
      showError: {
        state: false,
        text: "",
      },
      token: "",
      password: "",
      confirmPassword: "",
    };
  },
  methods: {
    resetPassword() {
      console.log("a");
      if (this.password.trim() == this.confirmPassword.trim()) {
        console.log("b");
        let body = { password: this.password, token: this.token };
        axios
          .patch(`${config.VUE_APP_API_URL}/forgotPassword/password`, body)
          .then((response) => {
            this.$refs.toast.showToast(
              "Senha atualizada com sucesso!",
              "success"
            );
            this.token = "";
            this.password = "";
            this.confirmPassword = "";
            setTimeout(() => {
              this.goBack();
            }, 4000);
          })
          .catch((error) => {
            this.$refs.toast.showToast(
              "Erro ao tentar atualizar senha, verifique seu token e tente novamente!",
              "error"
            );
          });
      } else {
        this.showError.state = true;
        this.showError.text = "Senhas não coincidem!";
        setTimeout(() => {
          this.showError.state = false;
        }, 5000);
      }
    },
    navigateTo(page) {
      this.$router.push(`/${page}`);
    },
    handleSubmit() {
      const required =
        this.confirmPassword.trim() === "" ||
        this.password.trim() === "" ||
        this.token.trim() === "";

      if (!required) {
        this.resetPassword();
      } else {
        this.showError.state = true;
        this.showError.text =
          "Preencha todos os campos corretamente e tente novamente.";
        setTimeout(() => {
          this.showError.state = false;
        }, 5000);
      }
    },
    goBack() {
      this.navigateTo("");
    },
  },
};
</script>
