<template>
  <div>
    <Header title="Meu Perfil" />
    <MenuOptions />

    <div class="perfil">
      <div class="box-1 perfil-cards">
        <div class="card-my-perfil">
          <TitleText class_title="my-title-class" text_title="Meu Perfil" />
          <img class="icon-user" src="@/components/icons/user.gif">

          <div class="form">
            <div v-if="!isEditing">
              <p class="my-profile-data">Nome: {{ nome }}</p>
              <p class="my-profile-data">E-mail: {{ email }}</p>
              <p class="my-profile-data">Telefone: {{ formatPhoneNumber(telefone) }}</p>
              <p class="my-profile-data">
                Data de Nascimento: {{ dataNascimento }}
              </p>
            </div>

            <div v-if="isEditing">
              <div class="form-row">
                <label>Nome:</label>
                <input type="text" v-model="nome" />
              </div>

              <div class="form-row">
                <label>E-mail:</label>
                <input type="text" v-model="email" />
              </div>

              <div class="form-row">
                <label>Telefone:</label>
                <input type="text" v-model="telefone" />
              </div>

              <div class="form-row">
                <label>Data de Nascimento:</label>
                <input type="text" v-model="dataNascimento" />
              </div>
            </div>
            <button class="btn-add" @click="showEditPerfil()">
              Editar Perfil
            </button>
            <EditPerfil
              :show="showModal"
              @update:show="showModal = $event"
              @perfil-saved="handlePerfilSaved"
              :valuesEditedPerfil="user"
            />
          </div>
        </div>
        <div class="card-my-perfil dark-mode-toggle">
          <ButtonDarkModeToggle />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/main.css";
import MenuOptions from "@/components/MenuOptions.vue";
import Header from "@/components/Header.vue";
import TitleText from "@/components/TitleText.vue";
import CardAlert from "@/components/alerts/AlertMessage.vue";
import { getLocalStorageItem } from "@/middleware/localStorage";
import EditPerfil from "@/components/auth/EditPerfil.vue";
import ButtonDarkModeToggle from "@/components/buttons/ButtonDarkModeToggle.vue";

export default {
  data() {
    return {
      user: {
        nome: getLocalStorageItem("name_user") || "NOME_USUARIO",
        email: getLocalStorageItem("email_user") || "EMAIL_USUARIO",
        telefone: getLocalStorageItem("phone_user") || "(xx)xxxxx-xxxx",
        dataNascimento: getLocalStorageItem("birth_date_user") || "01/01/0001",
        numeroMatricula: getLocalStorageItem("id_user") || "0",
      },
      nome: getLocalStorageItem("name_user") || "NOME_USUARIO",
      email: getLocalStorageItem("email_user") || "EMAIL_USUARIO",
      telefone: getLocalStorageItem("phone_user") || "(xx)xxxxx-xxxx",
      dataNascimento: getLocalStorageItem("birth_date_user") || "01/01/0001",
      numeroMatricula: getLocalStorageItem("id_user") || "0",
      showModal: false,
      editedPerfil: null,
      valuesEditedPerfil: null,
      isEditing: false,
    };
  },
  components: {
    MenuOptions,
    Header,
    TitleText,
    CardAlert,
    EditPerfil,
    ButtonDarkModeToggle
  },
  methods: {
      showChangePassword() {
          this.showModal = true;
      },
      saveChanges() {
          // TODO: implementar a lógica de salvar as alterações
          this.isEditing = false;
      },
      showEditPerfil() {
          this.showModal = true;
      },
      toggleEditMode() {
          this.isEditing = !this.isEditing;
      },
      formatPhoneNumber(phoneNumber) {
          const phoneNumberString = phoneNumber.toString(); // Converte para string
          const areaCode = phoneNumberString.substring(0, 2);
          const prefix = phoneNumberString.substring(2, 7);
          const suffix = phoneNumberString.substring(7);
          return `(${areaCode}) ${prefix}-${suffix}`;
      },
      handlePerfilSaved() {
        this.nome = this.user.nome;
        this.email = this.user.email;
        this.showModal = false;
        this.showSuccessMessage = true;
      },
    }
  }

</script>

<style>
.perfil-cards {
  display: flex; 
  justify-content: space-between; 
}

.dark-mode-toggle{
  height: 45% !important;
}

@media (max-width: 912px) {
  .perfil {
    flex-direction: column;
    align-items: center;
  }

  .perfil-cards {
    display: inline; 
    justify-content: space-between; 
  }

  .card-my-perfil {
    width: 90%;
    margin: 1% auto;
  }

  .form-row {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .edit-button,
  .save-button {
    width: 100%;
    margin-top: 1rem;
  }
  
  .dark-mode-toggle {
    width: 90%; 
    margin: 1% auto;
    margin-top: 10px;
    height: 50%;
  } 
}
</style>
