<template>
  <div class="modal" v-if="show">
    <div class="modal-background" @click.stop="close"></div>
    <div class="modal-content">
      <div>
        <div class="alert-header">
          <p class="alert-header-title">Editar Perfil</p>
        </div>
        <div class="alert-content">
          <input-component type="text" placeholder="Nome:*" v-model="nome" :value="nome"
            @input="nome = $event?.target?.value" ref="nomeInput" :required="true" />

          <input-component type="text" placeholder="E-mail:*" v-model="email" :value="email"
            @input="email = $event?.target?.value" ref="emailInput" :required="true" />

          <input-component type="tel" placeholder="Telefone:*" v-model="telefone" :value="telefone"
            @input="telefone = $event?.target?.value" ref="telefoneInput" :required="true" />

          <input-component type="date" placeholder="Data de Nascimento:*" v-model="data_nascimento"
            :value="data_nascimento" @input="data_nascimento = $event?.target?.value" ref="data_nascimentoInput"
            :required="true" />

          <RequiredInputs />
        </div>
        <div class="alert-footer">
          <button class="button" @click="close">Fechar</button>
          <button class="button is-primary" @click="submit">Atualizar</button>
        </div>
      </div>
      <AlertMessage :showCondition="showError.state" :text="showError.text" />
    </div>
  </div>
</template>

<script>
import InputComponent from "@/components/inputs/InputComponent.vue";
import "@/assets/main.css";
import {
  getLocalStorageItem,
  setLocalStorageItem,
} from "@/middleware/localStorage";
import RequiredInputs from "@/components/inputs/RequiredInputs.vue";
import AlertMessage from "@/components/alerts/AlertMessage.vue";
import axios from "axios";
import config from '@/config.js';

export default {
  data() {
    return {
      nome: "",
      email: "",
      telefone: "",
      data_nascimento: "",
      editedClass: null,
      showError: {
        state: false,
        text: "",
      },
    };
  },
  props: {
    show: {
      type: Boolean,
      default: false,
    },
    valuesEditedPerfil: {
      type: Object,
      default: null,
    },
  },
  components: {
    InputComponent,
    RequiredInputs,
    AlertMessage,
  },
  computed: {
    blankFields() {
      if (
        this.nome.trim() === "" ||
        this.email.trim() === "" ||
        this.telefone.trim() === "" ||
        this.data_nascimento.trim() === ""
      ) {
        return true;
      }
      return false;
    },
  },
  methods: {
    submit() {
      if (!this.blankFields) {
        const Headers = {
          headers: {
            Authorization: `Bearer ${getLocalStorageItem("jwt_token")}`,
            id_user: this.valuesEditedPerfil.numeroMatricula
          },
        };
        const Body = {
          nome: this.nome,
          email: this.email,
          phone: this.telefone,
          data_nascimento: this.data_nascimento,
        };
        //pegar valor da prop
        axios
          .patch(`${config.VUE_APP_API_URL}/accounts/user`, Body, Headers)
          .then((response) => {
            //Armazeando infos Login
            setLocalStorageItem("name_user", this.nome);
            setLocalStorageItem("email_user", this.email);
            setLocalStorageItem("birth_date_user", this.data_nascimento);
            setLocalStorageItem("phone_user", this.telefone);
            this.close();
            this.$emit("class-saved", true);
            //dar refresh na pagina
            window.location.reload(true);
          })
          .catch((error) => {
            this.showError.state = true;
            this.showError.text = "Erro ao atualizar o perfil";
            setTimeout(() => {
              this.showError.state = false;
            }, 5000);
          });
      } else {
        this.showError.state = true;
        this.showError.text = "Preencha todos os campos";
        setTimeout(() => {
          this.showError.state = false;
        }, 5000);
      }
    },
    close() {
      this.$emit('update:show', false);
    },
  },
};
</script>
